In [327]:
import pandas as pd
import re

ct = r"C:\Users\mkreidler\Desktop\35w\ctrac.xlsx"
rh = r"C:\Users\mkreidler\Desktop\35w\rhino.xlsx"
st = r"C:\Users\mkreidler\Desktop\35w\site.xlsx"

ctrac = pd.read_excel(ct)
rhino = pd.read_excel(rh)
site = pd.read_excel(st)

list(rhino)

['Column1',
 'layer',
 'name',
 'zones',
 'guid',
 'x',
 'y',
 'z',
 'quantity',
 'length',
 'height',
 'depth',
 'description',
 'dwg_num',
 'comments',
 'new',
 'co',
 'priority_ctrac',
 'swing_drop',
 'faulty',
 'remediation',
 'deduct',
 'floor',
 'elevation',
 'project',
 'priority_survey',
 'sort',
 'ordered_list']

In [328]:
rhino = rhino[["name", "guid","swing_drop","faulty", "co",
               "remediation","deduct", "elevation","dwg_num", 
               "priority_ctrac", "new"]]

In [329]:
rhino = rhino[(rhino["faulty"].isna())]  ## no faulty units included, filter out of rhino

In [330]:
rhino = rhino[rhino.deduct.isna()] ## no deduct units, filter these out

In [331]:
rhino 
cols = ["name","swing_drop","elevation", "priority_ctrac", "co", "new","guid"]
cols = ["priority_ctrac", "elevation", "swing_drop","new", "name", "guid", "co"]

rhino[cols].head()

,priority_ctrac,elevation,swing_drop,new,name,guid,co
0,11.0,WEST,W3,False,3B11A,ec500861-2820-4bad-be4f-29407666f24d,2.0
2,11.0,WEST,W3,True,Q?,91bc98db-6804-449e-9041-40229846ed26,11.0
3,11.0,WEST,W3,False,3C10Z,da1e91fb-fb68-469b-9e6f-2df4dc5fcf71,2.0
5,11.0,WEST,W3,False,3C10,84faf648-f855-4a34-8d95-1896b58966b7,2.0
6,11.0,WEST,W3,False,3B11,24fcb8e9-6b82-4ac3-a0ca-f35122c30326,2.0

In [332]:
rhino[cols].groupby(["elevation","swing_drop","name"]).sum()

                            priority_ctrac   new     co
elevation swing_drop name
EAST      E1         2B1               3.0   1.0    5.0
                     2B10              3.0   1.0    9.0
                     3B1               3.0   1.0    2.0
                     3B11              6.0   2.0   10.0
                     3B11A             3.0   1.0    5.0
                     3B5-2             3.0   1.0    5.0
                     3C10             12.0   4.0   32.0
                     3C10A             3.0   1.0    5.0
                     3C10Z             3.0   1.0    5.0
                     3C9               3.0   1.0   11.0
                     4A1               3.0   0.0   11.0
                     4B1B             12.0   0.0    8.0
                     4B1F              3.0   1.0    5.0
                     4B1K              3.0   1.0    5.0
                     4B3G              3.0   1.0    5.0
                     5A6L              1.0   1.0   11.0
                     6A14A             1.0   0.0    2.0
                     6A15A             1.0   1.0    9.0
                     6A16A             1.0   1.0    9.0
                     6A18A             3.0   1.0    5.0
                     6A2A              1.0   0.0    2.0
                     6B12              4.0   1.0    7.0
                     6B16              3.0   1.0    5.0
                     6B20              3.0   1.0    5.0
                     6B9               3.0   1.0    5.0
                     6C3               1.0   0.0    2.0
                     6D3               1.0   0.0    2.0
                     8A2              31.0   5.0   45.0
                     8A2Z             15.0   0.0   14.0
                     8A3               1.0   0.0    2.0
...                                    ...   ...    ...
WEST      W3         9D9              21.0   0.0    4.0
                     9E7              11.0   0.0    2.0
                     9E9              10.0   0.0    2.0
                     9F7              11.0   0.0    2.0
                     9F9              10.0   0.0    2.0
                     ?                36.0   4.0   44.0
                     A1                9.0   0.0    2.0
                     A12              22.0   0.0    4.0
                     A19              11.0   0.0    2.0
                     A7                9.0   0.0    2.0
                     A7A               9.0   0.0    2.0
                     B12               9.0   1.0   11.0
                     B16              18.0   0.0    4.0
                     B16A             18.0   0.0    4.0
                     B17              87.0   0.0   18.0
                     B17A             39.0   1.0   17.0
                     B25              52.0   2.0   28.0
                     B26              41.0   1.0   17.0
                     B27              18.0   0.0    4.0
                     B27A             18.0   0.0    4.0
                     B3               36.0   1.0   17.0
                     B36              27.0   0.0   27.0
                     B37             302.0  16.0  208.0
                     B38             173.0   4.0   68.0
                     B38A            111.0   2.0   44.0
                     B5               45.0   2.0   28.0
                     B7              117.0   5.0   71.0
                     Q?               11.0   1.0   11.0
                     W3L              11.0   1.0   11.0
                     W3R              11.0   1.0   11.0

[751 rows x 3 columns]

In [333]:
rhino = rhino[rhino["co"].isin([11, 12]) == False] ## do not include co11 or co12

In [334]:
rhino[cols].head()

,priority_ctrac,elevation,swing_drop,new,name,guid,co
0,11.0,WEST,W3,False,3B11A,ec500861-2820-4bad-be4f-29407666f24d,2.0
3,11.0,WEST,W3,False,3C10Z,da1e91fb-fb68-469b-9e6f-2df4dc5fcf71,2.0
5,11.0,WEST,W3,False,3C10,84faf648-f855-4a34-8d95-1896b58966b7,2.0
6,11.0,WEST,W3,False,3B11,24fcb8e9-6b82-4ac3-a0ca-f35122c30326,2.0
7,11.0,WEST,W3,False,3C10,ee02b3be-7243-45ef-8224-f01998a7ddc4,2.0

In [335]:
rhino = rhino[rhino["priority_ctrac"].isin([6,12])] ## only include priorities 6, 12

In [336]:
group = rhino[cols].groupby(["priority_ctrac","elevation","swing_drop","name"]).sum()

In [337]:
group[(group.co != 0) ]

                                           new     co
priority_ctrac elevation swing_drop name
6.0            SOUTH     S3         ?      2.0   18.0
                         S4         ?     10.0   78.0
                         S5         3A1    0.0    5.0
                                    4A2    1.0   18.0
                                    4A2?   1.0    9.0
                                    4B3A   0.0    9.0
                                    4B3B   0.0    5.0
                                    4B3C   0.0    5.0
                                    4B4A   1.0   18.0
                                    4B4B   0.0    5.0
                                    4B4C   0.0    5.0
                                    9C1    2.0   18.0
                                    9D1    0.0    5.0
                                    9D1B   0.0   15.0
                                    9E1B   0.0    5.0
                                    AG2    0.0   10.0
                                    AG3    0.0    5.0
               WEST      W1         2B1    1.0    9.0
                                    2B10   0.0    2.0
                                    2B11   0.0    2.0
                                    2B12   0.0    2.0
                                    2B13   0.0    9.0
                                    2B9    0.0    2.0
                                    3C10   0.0    2.0
                                    4B1B   0.0    2.0
                                    4B1H   0.0    2.0
                                    4B1J   0.0    2.0
                                    8A2    0.0    4.0
                                    8A2A   0.0    2.0
                                    8C2    0.0    2.0
...                                        ...    ...
                         W2         8C5A   0.0    2.0
                                    8C6A   0.0    4.0
                                    9C10   0.0    6.0
                                    A19    0.0    2.0
                                    B10    0.0    2.0
                                    B11    0.0    2.0
                                    B12    1.0   24.0
                                    B17    0.0    6.0
                                    B37    0.0    2.0
                                    B38    0.0    8.0
                                    B38A   0.0    6.0
                                    B42    0.0    4.0
12.0           SOUTH     S2         6D3    0.0    9.0
                                    9E1    0.0   15.0
                                    9E2    0.0   30.0
                                    9E3    0.0   25.0
                                    9F2    0.0    5.0
                                    ?     13.0  117.0
                                    A10A   0.0   15.0
                                    AG2    0.0   19.0
                                    AG3    0.0   10.0
                                    B37    1.0    9.0
                         S3         9C1    0.0   27.0
                                    9C3    0.0    9.0
                                    9D1    0.0    5.0
                                    9D2    0.0    5.0
                                    9E2    0.0    5.0
                                    9E3    0.0    5.0
                                    ?      7.0   63.0
                                    AG5    0.0    9.0

[102 rows x 2 columns]

In [338]:
rhino[cols].sort_values(cols)

,priority_ctrac,elevation,swing_drop,new,name,guid,co
3487,6.0,SOUTH,S3,True,?,07f3e3ed-64d3-45bc-84a7-a001a5bf4f3a,9.0
3466,6.0,SOUTH,S3,True,?,e0f3c183-5a97-41cd-8ce2-49afd19095c8,9.0
3656,6.0,SOUTH,S4,False,5B1,de27df92-266d-43a6-ab31-b185933c913e,NaN
3654,6.0,SOUTH,S4,False,5B2,63082b11-27f7-4228-b672-9362136c3260,NaN
3655,6.0,SOUTH,S4,False,5B3,f8d1a417-c1a8-49c5-8011-7056cc4caba6,NaN
3659,6.0,SOUTH,S4,False,6A4A,031ed0bb-d380-477c-ab85-82086739f9b6,NaN
3660,6.0,SOUTH,S4,False,6A4A,d1761b64-0d7e-4a2d-abd6-31fde5430ce0,NaN
3663,6.0,SOUTH,S4,False,6A4A,d4975143-ea90-4660-8cd5-63756796f4c3,NaN
3664,6.0,SOUTH,S4,False,6A4A,dff2a4f6-f387-4fd7-999e-14c575c0761b,NaN
3668,6.0,SOUTH,S4,False,6B7,12ae96bd-bba9-4291-ad94-460353c27f97,NaN
3665,6.0,SOUTH,S4,False,6B7,b2f2a4b6-ca1d-4c43-bc9f-1e2383699975,NaN
3669,6.0,SOUTH,S4,False,6C1,34aa712e-acd0-411c-8ca7-3a41a207773b,NaN
3666,6.0,SOUTH,S4,False,6C1,5d5ceba7-b763-4bf7-911b-2935d1e4e909,NaN
3667,6.0,SOUTH,S4,False,6C2,0ec5826f-c2b2-46c8-9134-f717ac668946,NaN
3679,6.0,SOUTH,S4,False,7C1,4a4cb3ea-9bf9-43e5-9831-e599701eb91e,NaN
3672,6.0,SOUTH,S4,False,7C2,18b1adb6-34c7-4506-afae-6c1a671bbcb7,NaN
3680,6.0,SOUTH,S4,False,7C3,6373d5bd-6f7a-42bb-81b9-e63f6f808604,NaN
3678,6.0,SOUTH,S4,False,7C4,c19b9fdf-fce2-4c72-a168-5ac7e95ca086,NaN
3670,6.0,SOUTH,S4,False,B27,8fb22fc5-9fe9-4b63-bf0b-776d36f7aaf7,NaN
3673,6.0,SOUTH,S4,False,B33,f109b7dc-079f-41ff-bb19-72a3bd9d71a3,NaN
3675,6.0,SOUTH,S4,True,?,00007a5c-b2f4-4718-a681-1761092e4737,9.0
3650,6.0,SOUTH,S4,True,?,007430b7-77d0-4982-8102-4d4a0f97e6c9,5.0
3671,6.0,SOUTH,S4,True,?,151d929f-f921-44e5-8141-5eb578951e26,9.0
3651,6.0,SOUTH,S4,True,?,51c047cd-0ee9-4708-9d11-f469939be8c7,5.0
3662,6.0,SOUTH,S4,True,?,73d59b7a-db90-4179-abbf-07709191b365,9.0
3649,6.0,SOUTH,S4,True,?,8b84c469-fabd-42f6-8221-7b6db3d077a7,5.0
3676,6.0,SOUTH,S4,True,?,b4310ee1-8340-4861-8094-7c5d8072ca69,9.0
3677,6.0,SOUTH,S4,True,?,c7cd48b4-c008-4194-9995-b73c69f31dae,9.0
3674,6.0,SOUTH,S4,True,?,dc0e38ec-1c25-4b38-b9f7-9d8801aad47b,9.0
3661,6.0,SOUTH,S4,True,?,fcd652eb-9cc9-4322-81b1-402bb8e437c6,9.0
...,...,...,...,...,...,...,...
3401,12.0,SOUTH,S3,False,B29,1db76e2d-2022-4927-bb86-6b3da1fa8711,NaN
3290,12.0,SOUTH,S3,False,B29,21a89f88-6bd2-41ab-8f1b-bee87cd169a8,NaN
3344,12.0,SOUTH,S3,False,B29,2a95a457-a284-4896-9ec7-925f69157830,NaN
3492,12.0,SOUTH,S3,False,B29,2b798ec3-1b19-4c5c-81fc-a59d5d9f6746,NaN
3284,12.0,SOUTH,S3,False,B29,3f73fa77-ff24-416a-bb3f-ca862d63abc1,NaN
3377,12.0,SOUTH,S3,False,B29,4aeea4fa-9497-445a-a176-3a4035c216a2,NaN
3332,12.0,SOUTH,S3,False,B29,4fe7db42-3b5d-4d48-9d05-1c0e073fd0b6,NaN
3375,12.0,SOUTH,S3,False,B29,9109e66c-2e08-43b4-89f7-06c3f2c41a3a,NaN
3390,12.0,SOUTH,S3,False,B29,9128cf49-bb4e-49ea-9b89-772de018e423,NaN
3265,12.0,SOUTH,S3,False,B29,936f1baa-a41d-45b4-a946-d309fef24c47,NaN
3322,12.0,SOUTH,S3,False,B29,97ea3dc1-e0f9-4581-a8b1-101e4b88f4f2,NaN
3396,12.0,SOUTH,S3,False,B29,a27e3f9a-f3de-454d-b63a-650b566e3188,NaN
3341,12.0,SOUTH,S3,False,B29,a62f5ae6-34cc-423f-aea5-45d807c1e64d,NaN
3372,12.0,SOUTH,S3,False,B29,aaade3eb-939b-484a-9b4b-b35a223fed33,NaN
3302,12.0,SOUTH,S3,False,B29,ce92f6b5-0ebf-405a-a386-50723d1191ba,NaN
3313,12.0,SOUTH,S3,False,B29,d6f7c791-0ba3-40fd-a434-1d589e2aced5,NaN
3305,12.0,SOUTH,S3,False,B29,df864fb1-298d-44c5-a035-56a2b8797fd5,NaN
3268,12.0,SOUTH,S3,False,B29,dfec1e89-8788-4256-9381-eccf77e4290e,NaN
3277,12.0,SOUTH,S3,False,B29,f11224c3-c29c-44ba-b02a-a4fa74c28e25,NaN
3310,12.0,SOUTH,S3,False,B29,f174dd35-4a27-4cba-8b4e-11416ca0f107,NaN
3266,12.0,SOUTH,S3,False,B29,fe2d3097-8105-4f4e-9af7-dd5220ad4e4e,NaN
3299,12.0,SOUTH,S3,False,B29A,aba26dc2-b5b9-48eb-b8f2-024919ebd6ad,NaN
3262,12.0,SOUTH,S3,False,B34,d5fc7ee5-c3ba-4495-b539-e079bbbc71aa,NaN
3503,12.0,SOUTH,S3,True,?,63c44869-471d-487f-b53e-5c328d1c2586,9.0
3494,12.0,SOUTH,S3,True,?,645122cc-29a1-42d4-9acb-9adc0627920f,9.0
3493,12.0,SOUTH,S3,True,?,808596c2-0e17-4003-9718-d092da0f7a8b,9.0
3486,12.0,SOUTH,S3,True,?,831fa13f-3e39-4838-b38f-6de131d590a4,9.0
3461,12.0,SOUTH,S3,True,?,8d63b076-54fa-4f36-989c-b884f009923e,9.0
3459,12.0,SOUTH,S3,True,?,bd130aad-57ce-4922-b702-9c635b3a998f,9.0
3460,12.0,SOUTH,S3,True,?,eafd27de-451a-4e44-9ba7-8f11ec587ffa,9.0

In [339]:
#cols.remove("co")
grp = ["priority_ctrac", "elevation", "swing_drop","new", "name"]
pivot = rhino[cols].groupby(grp).count()

In [340]:
#pivot.to_excel(r"C:\Users\mkreidler\Desktop\35w\pivot.xlsx")

In [341]:
rhino[cols]

,priority_ctrac,elevation,swing_drop,new,name,guid,co
512,12.0,SOUTH,S1,False,B17,ca781bfb-7e92-409b-8c06-b8edefbfa8d7,NaN
545,12.0,SOUTH,S1,False,B35,921f176e-f29f-4a08-b50d-f9c5719445a0,NaN
792,12.0,SOUTH,S1,False,B18,8c97eb74-8b73-4289-bf14-d2571ad817fa,NaN
1604,6.0,WEST,W2,False,B38,ee2d3287-f4b5-4146-bc23-6c111f23552e,2.0
1605,6.0,WEST,W2,False,B38A,73dff003-abff-4e77-925a-5f049c3958ab,2.0
1606,6.0,WEST,W2,False,B38,11066c5f-7d6b-41c1-8a1c-4e4a4ec9498b,2.0
1611,6.0,WEST,W2,False,B17,ce5fb35d-99bd-4495-8b50-e8efd7d3475d,2.0
1612,6.0,WEST,W2,False,8C6A,4a8578a9-8fe7-4fda-a118-36b2b67a2603,2.0
1613,6.0,WEST,W2,False,8C4A,b7ff3556-b944-479e-8c27-42a17ad0504b,2.0
1614,6.0,WEST,W2,False,B38A,07422b3c-1e99-4d09-b51c-f5eb273fe7de,2.0
1616,6.0,WEST,W2,False,8C6A,f9bc4b71-47b7-46ca-8c9b-ed07e6f21b08,2.0
1617,6.0,WEST,W2,False,8C5A,1475020e-2484-4f6e-b10d-4acb1d2dbf2b,2.0
1618,6.0,WEST,W2,False,B38A,c6b6d2ed-b270-4525-b204-172f7253904a,2.0
1619,6.0,WEST,W2,False,B17,9c337529-50b7-4746-a5e6-ea33ce581cdd,2.0
1621,6.0,WEST,W2,False,B38,5ded6808-a81a-43e2-8e1a-bb88518cbe5b,2.0
1622,6.0,WEST,W2,False,B17,e56f3286-150a-4bac-a1e2-b086a5333437,2.0
1623,6.0,WEST,W2,False,B38,60ef9ab2-b680-4c9d-9e90-3d3581fc5bbc,2.0
1624,6.0,WEST,W2,False,A19,3cc1c95d-79d1-48b5-9a0f-8d1824f14bea,2.0
1626,6.0,WEST,W2,False,B37,29c0540f-38a5-4cac-b306-c14015d55729,2.0
1627,6.0,WEST,W2,False,B42,764a2735-8ddc-473b-8ec6-14a3bc5596a0,2.0
1628,6.0,WEST,W2,False,B42,641282a9-8afa-4d1c-b6ec-dc1ff8e7f1b4,2.0
1630,6.0,WEST,W2,False,6C4,1c337a17-87f4-46fa-9ba6-1afa20c705bc,2.0
1631,6.0,WEST,W2,False,6C5,962bf4a4-e010-4ea7-bbe8-d767f5a60b87,2.0
1632,6.0,WEST,W2,False,6C6,e7150646-dcb8-4bc3-a341-89a28669a98e,9.0
1633,6.0,WEST,W2,False,6C3,6b5ecee9-e938-40b2-9fd9-850be56ee530,2.0
1634,6.0,WEST,W2,False,6C6,35dc4d5d-2741-423e-864d-6ec61ab9ab39,2.0
1635,6.0,WEST,W2,False,6C5,c8724ff9-c7c1-4ac5-8c57-6e97d2fea5f0,2.0
1636,6.0,WEST,W2,False,6C4,05afdaec-2f65-4b7c-b2a1-0659bcd83eac,2.0
1637,6.0,WEST,W2,False,9C10,c40ca112-f101-49a2-9cac-813a46876c26,2.0
1638,6.0,WEST,W2,False,9C10,46e12e7a-7b77-43b4-ab31-5cd3b7f38f59,2.0
...,...,...,...,...,...,...,...
3500,12.0,SOUTH,S3,False,A8A,2e9389ec-8135-4bbb-bcb7-d0d602428ace,NaN
3503,12.0,SOUTH,S3,True,?,63c44869-471d-487f-b53e-5c328d1c2586,9.0
3649,6.0,SOUTH,S4,True,?,8b84c469-fabd-42f6-8221-7b6db3d077a7,5.0
3650,6.0,SOUTH,S4,True,?,007430b7-77d0-4982-8102-4d4a0f97e6c9,5.0
3651,6.0,SOUTH,S4,True,?,51c047cd-0ee9-4708-9d11-f469939be8c7,5.0
3654,6.0,SOUTH,S4,False,5B2,63082b11-27f7-4228-b672-9362136c3260,NaN
3655,6.0,SOUTH,S4,False,5B3,f8d1a417-c1a8-49c5-8011-7056cc4caba6,NaN
3656,6.0,SOUTH,S4,False,5B1,de27df92-266d-43a6-ab31-b185933c913e,NaN
3659,6.0,SOUTH,S4,False,6A4A,031ed0bb-d380-477c-ab85-82086739f9b6,NaN
3660,6.0,SOUTH,S4,False,6A4A,d1761b64-0d7e-4a2d-abd6-31fde5430ce0,NaN
3661,6.0,SOUTH,S4,True,?,fcd652eb-9cc9-4322-81b1-402bb8e437c6,9.0
3662,6.0,SOUTH,S4,True,?,73d59b7a-db90-4179-abbf-07709191b365,9.0
3663,6.0,SOUTH,S4,False,6A4A,d4975143-ea90-4660-8cd5-63756796f4c3,NaN
3664,6.0,SOUTH,S4,False,6A4A,dff2a4f6-f387-4fd7-999e-14c575c0761b,NaN
3665,6.0,SOUTH,S4,False,6B7,b2f2a4b6-ca1d-4c43-bc9f-1e2383699975,NaN
3666,6.0,SOUTH,S4,False,6C1,5d5ceba7-b763-4bf7-911b-2935d1e4e909,NaN
3667,6.0,SOUTH,S4,False,6C2,0ec5826f-c2b2-46c8-9134-f717ac668946,NaN
3668,6.0,SOUTH,S4,False,6B7,12ae96bd-bba9-4291-ad94-460353c27f97,NaN
3669,6.0,SOUTH,S4,False,6C1,34aa712e-acd0-411c-8ca7-3a41a207773b,NaN
3670,6.0,SOUTH,S4,False,B27,8fb22fc5-9fe9-4b63-bf0b-776d36f7aaf7,NaN
3671,6.0,SOUTH,S4,True,?,151d929f-f921-44e5-8141-5eb578951e26,9.0
3672,6.0,SOUTH,S4,False,7C2,18b1adb6-34c7-4506-afae-6c1a671bbcb7,NaN
3673,6.0,SOUTH,S4,False,B33,f109b7dc-079f-41ff-bb19-72a3bd9d71a3,NaN
3674,6.0,SOUTH,S4,True,?,dc0e38ec-1c25-4b38-b9f7-9d8801aad47b,9.0
3675,6.0,SOUTH,S4,True,?,00007a5c-b2f4-4718-a681-1761092e4737,9.0
3676,6.0,SOUTH,S4,True,?,b4310ee1-8340-4861-8094-7c5d8072ca69,9.0
3677,6.0,SOUTH,S4,True,?,c7cd48b4-c008-4194-9995-b73c69f31dae,9.0
3678,6.0,SOUTH,S4,False,7C4,c19b9fdf-fce2-4c72-a168-5ac7e95ca086,NaN
3679,6.0,SOUTH,S4,False,7C1,4a4cb3ea-9bf9-43e5-9831-e599701eb91e,NaN
3680,6.0,SOUTH,S4,False,7C3,6373d5bd-6f7a-42bb-81b9-e63f6f808604,NaN

In [342]:
len(rhino[rhino.new == True])

49

In [343]:
len(rhino[rhino.new == False])

466

In [344]:
rhino_old = rhino[rhino.new == False]

In [345]:
rhino_old[cols].head()

,priority_ctrac,elevation,swing_drop,new,name,guid,co
512,12.0,SOUTH,S1,False,B17,ca781bfb-7e92-409b-8c06-b8edefbfa8d7,NaN
545,12.0,SOUTH,S1,False,B35,921f176e-f29f-4a08-b50d-f9c5719445a0,NaN
792,12.0,SOUTH,S1,False,B18,8c97eb74-8b73-4289-bf14-d2571ad817fa,NaN
1604,6.0,WEST,W2,False,B38,ee2d3287-f4b5-4146-bc23-6c111f23552e,2.0
1605,6.0,WEST,W2,False,B38A,73dff003-abff-4e77-925a-5f049c3958ab,2.0

In [346]:
site.head()

   name  p6s5  p6w1
0  _9E3   NaN   NaN
1  _9E7   NaN   NaN
2  _9E8   NaN   NaN
3   2B1   NaN   NaN
4  2B10   NaN   NaN

In [347]:
def remove_underscore(x):
    return x.replace("_","")

site.name = site.name.apply(remove_underscore)

st = site.groupby("name").sum()

st = st[(st.T != 0).any()].sort_values("name")

st_grp = st.add_suffix("_sum_shipped").reset_index()
st_grp

    name  p6s5_sum_shipped  p6w1_sum_shipped
0   4B1B               7.0               0.0
1    8A2               7.0               2.0
2   8A2A               1.0               0.0
3    8C1               6.0               0.0
4   8C1A               1.0               0.0
5    8C2               3.0               1.0
6   8C2A               1.0               1.0
7    8C3               1.0               0.0
8   8C3A               1.0               0.0
9    8C4               1.0               0.0
10  8C4A               1.0               0.0
11   8C5               1.0               1.0
12  8C5A               1.0               0.0
13   8C6               1.0               1.0
14  8C6A               1.0               0.0
15   8C7               0.0               1.0
16  8C7A               0.0               1.0
17   8C8               0.0               1.0
18  8C8A               0.0               1.0
19   9C6               0.0               1.0
20  9D1B               1.0               0.0
21  9E1B               1.0               0.0
22  9F1B               1.0               0.0
23   A13               2.0               0.0
24  A13A               2.0               0.0
25   A14               7.0               0.0
26  A14A               4.0               0.0
27   A15               0.0               2.0
28  A15A               0.0               1.0
29   A16               0.0               2.0
30  A16A               0.0               4.0
31   A18               2.0               0.0
32  A18A               2.0               0.0
33   A23               2.0               0.0
34  A23A               2.0               0.0
35   A6A               1.0               0.0
36   AG2               1.0               0.0
37   AG3               1.0               0.0
38   B17               2.0               1.0
39  B17A               2.0               0.0
40   B20               2.0               0.0
41  B20A               1.0               0.0
42   B22               0.0               5.0
43  B22A               0.0               1.0
44   B34               2.0               2.0
45  B34A               2.0               4.0
46   B39               2.0               0.0
47  B39A               3.0               0.0

In [348]:
rhino[cols].head()

,priority_ctrac,elevation,swing_drop,new,name,guid,co
512,12.0,SOUTH,S1,False,B17,ca781bfb-7e92-409b-8c06-b8edefbfa8d7,NaN
545,12.0,SOUTH,S1,False,B35,921f176e-f29f-4a08-b50d-f9c5719445a0,NaN
792,12.0,SOUTH,S1,False,B18,8c97eb74-8b73-4289-bf14-d2571ad817fa,NaN
1604,6.0,WEST,W2,False,B38,ee2d3287-f4b5-4146-bc23-6c111f23552e,2.0
1605,6.0,WEST,W2,False,B38A,73dff003-abff-4e77-925a-5f049c3958ab,2.0

In [349]:
## dataframe["period"] = dataframe["Year"].map(str) + dataframe["quarter"]
pd.options.mode.chained_assignment = None  # default='warn'

rhino_old["new_priority"] = rhino.priority_ctrac.map(str) + rhino.elevation + rhino.swing_drop

col2 = ["new_priority", "name", "guid"]

rhino_old[col2].head()

     new_priority  name                                  guid
512   12.0SOUTHS1   B17  ca781bfb-7e92-409b-8c06-b8edefbfa8d7
545   12.0SOUTHS1   B35  921f176e-f29f-4a08-b50d-f9c5719445a0
792   12.0SOUTHS1   B18  8c97eb74-8b73-4289-bf14-d2571ad817fa
1604    6.0WESTW2   B38  ee2d3287-f4b5-4146-bc23-6c111f23552e
1605    6.0WESTW2  B38A  73dff003-abff-4e77-925a-5f049c3958ab

In [350]:
rh_grp = rhino_old[col2].groupby(["new_priority", "name"]).count()

rh_grp = rh_grp.add_suffix("_sum_rhino").reset_index()

In [351]:
list(ctrac)

['Project Number',
 'Inquiry Number',
 'Priority',
 'Prev Priority',
 'Prev Priority 1',
 'Elevation',
 'Drop',
 'Floor',
 'Order Number',
 'Job Code',
 'Block ID',
 'FormingMethod',
 'SampleName',
 'DrawingNumber',
 'UnitQuantity',
 'User',
 'SubmittalDate',
 'SubmittalStatus',
 'Date Approved',
 'Length',
 'Height',
 'Depth',
 'Description',
 'EstimatingID',
 'DraftingComments',
 'Status',
 'Detail Created Sw',
 'Base/Change Ord Sw',
 'Change Ord Number',
 'Change Ord Status',
 'Chng Priority Chk Bo',
 'Project Segment',
 'Drawing Code',
 'Drawing Nuber Segmen',
 'Drawing Type',
 'GlazeColor',
 'Drawing Sub',
 'Alt Block ID',
 'Close Out',
 'Updated',
 'Sizing',
 'Number of Blocks Gen',
 'Full Path for Extern']

In [352]:
ct_grp = ctrac[["Priority", "UnitQuantity", "Block ID"]].groupby(["Priority","Block ID"]).sum()

In [353]:
ct_grp = ct_grp.add_suffix("_sum_ctrac").reset_index()

In [354]:
st_grp.head()

   name  p6s5_sum_shipped  p6w1_sum_shipped
0  4B1B               7.0               0.0
1   8A2               7.0               2.0
2  8A2A               1.0               0.0
3   8C1               6.0               0.0
4  8C1A               1.0               0.0

In [355]:
rh_grp.head()

  new_priority  name  guid_sum_rhino
0  12.0SOUTHS1   B17               1
1  12.0SOUTHS1   B18               1
2  12.0SOUTHS1   B35               1
3  12.0SOUTHS2  6A3A               2
4  12.0SOUTHS2  6A5A               2

In [356]:
ct_grp.head()

  Priority Block ID  UnitQuantity_sum_ctrac
0      10S      9D1                       5
1      10S      9D2                       7
2      10S      9D8                       3
3      10S      9E2                      10
4      10S      9E3                       2