In [137]:
import pandas as pd
import re

ct = r"C:\Users\mkreidler\Desktop\35w\ctrac.xlsx"
rh = r"C:\Users\mkreidler\Desktop\35w\rhino.xlsx"
st = r"C:\Users\mkreidler\Desktop\35w\site.xlsx"

ctrac = pd.read_excel(ct)
rhino = pd.read_excel(rh)
site = pd.read_excel(st)

In [138]:
ctrac = ctrac[["Priority", "Block ID", "UnitQuantity"]]

#pd.Series.unique

ctrac.head()

  Priority Block ID  UnitQuantity
0       3S      2B1             1
1    6S_D5      2B1             1
2  6W_D1_1      2B1             1
3     3E_1      2B1             1
4    6W_D1     2B10             1

In [139]:
ctrac = ctrac.groupby(["Priority", "Block ID"]).sum().reset_index()

In [140]:
ctrac.head()

  Priority Block ID  UnitQuantity
0      10S      9D1             5
1      10S      9D2             7
2      10S      9D8             3
3      10S      9E2            10
4      10S      9E3             2

In [141]:
ctrac["elevation"] = ""
ctrac["re"] = ""

def find_re(x):
    if "RE" in x:
        return "RE"
    else:
        return
    
ctrac.re = ctrac.Priority.apply(find_re)

ctrac.head()

  Priority Block ID  UnitQuantity elevation    re
0      10S      9D1             5            None
1      10S      9D2             7            None
2      10S      9D8             3            None
3      10S      9E2            10            None
4      10S      9E3             2            None

In [142]:
ctrac["p"] = ""

def find_p(x):
    pat = r"([\d]*)[a-zA-Z]*"
    result = re.search(string = x, pattern=pat)
    if result:
        return result.group(1)
    
ctrac.p = ctrac.Priority.apply(find_p)

ctrac.head()

  Priority Block ID  UnitQuantity elevation    re   p
0      10S      9D1             5            None  10
1      10S      9D2             7            None  10
2      10S      9D8             3            None  10
3      10S      9E2            10            None  10
4      10S      9E3             2            None  10

In [143]:


def find_elev(x):
    pat = r"[\d]*([a-zA-Z]*)"
    result = re.search(string = x, pattern=pat)
    if result:
        return result.group(1)
    
ctrac.elevation = ctrac.Priority.apply(find_elev)
ctrac.head()

  Priority Block ID  UnitQuantity elevation    re   p
0      10S      9D1             5         S  None  10
1      10S      9D2             7         S  None  10
2      10S      9D8             3         S  None  10
3      10S      9E2            10         S  None  10
4      10S      9E3             2         S  None  10

In [144]:
ctrac.elevation.unique()

array(['S', 'W', 'E', 'SHIPPED'], dtype=object)

In [145]:
ctrac.Priority.unique()

array(['10S', '10S_1_RE', '10S_RE', '10W', '10W_1_RE', '10W_RE', '11S',
       '11S_1_RE', '11W', '11W_1', '11W_1_RE', '11W_RE', '12S',
       '12S_1_RE', '12S_D2', '12S_D3', '12S_RE', '13S', '13S_1_RE',
       '13S_RE', '1E', '1E_1', '1E_RE', '1S', '1S_1', '1S_1_RE', '1S_RE',
       '2E', '2E_1', '2E_RE', '2S', '2S_1_RE', '2S_RE', '3E', '3E_1',
       '3E_RE', '3S', '3S_1', '3S_RE', '4S', '4S_1', '4S_1_RE', '4S_RE',
       '4W', '4W_1', '4W_RE', '5S', '5S_1', '5S_1_RE', '5S_RE', '5W',
       '5W_RE', '6S', '6S_1_RE', '6S_D4', '6S_D5', '6S_D5_1', '6S_D5_RE',
       '6S_RE', '6W', '6W_D1', '6W_D1_1', '6W_D1_RE', '6W_D2', '6W_D2_1',
       '6W_RE', '7S', '7S_1_RE', '7W', '7W_1_RE', '7W_RE', '8S', '8S_1',
       '8S_1_RE', '8S_RE', '8W', '8W_RE', '9S', '9S_1_RE', '9S_RE', '9W',
       '9W_1', '9W_RE', 'SHIPPED'], dtype=object)

In [146]:
ctrac["batch"] = ""

def find_batch(x):
    pat = r"[_]([\d]*)"
    result = re.search(string = x, pattern=pat)
    if result:
        return result.group(1)
    
ctrac.batch = ctrac.Priority.apply(find_batch)

In [147]:
ctrac[ctrac.batch.isna() == False].head()

    Priority Block ID  UnitQuantity elevation  re   p batch
9   10S_1_RE      9F1             2         S  RE  10     1
10  10S_1_RE      9F2            10         S  RE  10     1
11  10S_1_RE      9F3             3         S  RE  10     1
12    10S_RE     B29A             2         S  RE  10
19  10W_1_RE      9F9             1         W  RE  10     1

In [148]:
ctrac["swing_drop"] = ""

def find_drop(x):
    pat = r"[_][D]([\d]*)"
    result = re.search(string = x, pattern=pat, flags=re.IGNORECASE)
    if result:
        return result.group(1)
    
ctrac.swing_drop = ctrac.Priority.apply(find_drop)
ctrac.swing_drop.unique()

array([None, '2', '3', '4', '5', '1'], dtype=object)

In [149]:
ctrac[ctrac.swing_drop.isna() == False].head()

   Priority Block ID  UnitQuantity elevation    re   p batch swing_drop
72   12S_D2     6A3A             2         S  None  12                2
73   12S_D2     6A5A             2         S  None  12                2
74   12S_D2     6B16             9         S  None  12                2
75   12S_D2      6C2             1         S  None  12                2
76   12S_D2      6D3             1         S  None  12                2

In [150]:
ctrac["re_qty"] = ""

ctrac.re_qty = ctrac[ctrac.re.isna() == False].UnitQuantity
ctrac[ctrac.re.isna() == False]

,Priority,Block ID,UnitQuantity,elevation,re,p,batch,swing_drop,re_qty
9,10S_1_RE,9F1,2,S,RE,10,1,None,2.0
10,10S_1_RE,9F2,10,S,RE,10,1,None,10.0
11,10S_1_RE,9F3,3,S,RE,10,1,None,3.0
12,10S_RE,B29A,2,S,RE,10,,None,2.0
19,10W_1_RE,9F9,1,W,RE,10,1,None,1.0
20,10W_RE,B17A,3,W,RE,10,,None,3.0
52,11S_1_RE,9F2,1,S,RE,11,1,None,1.0
65,11W_1_RE,9F7,1,W,RE,11,1,None,1.0
66,11W_RE,3B11A,1,W,RE,11,,None,1.0
67,11W_RE,3C10Z,1,W,RE,11,,None,1.0
69,12S_1_RE,9F1,4,S,RE,12,1,None,4.0
70,12S_1_RE,9F2,9,S,RE,12,1,None,9.0
71,12S_1_RE,9F3,6,S,RE,12,1,None,6.0
109,12S_RE,B18A,2,S,RE,12,,None,2.0
110,12S_RE,B29A,3,S,RE,12,,None,3.0
139,13S_1_RE,9F1,3,S,RE,13,1,None,3.0
140,13S_1_RE,9F2,2,S,RE,13,1,None,2.0
141,13S_RE,B34A,1,S,RE,13,,None,1.0
168,1E_RE,8A3Z,1,E,RE,1,,None,1.0
169,1E_RE,8A4Z,1,E,RE,1,,None,1.0
170,1E_RE,A6AF,1,E,RE,1,,None,1.0
171,1E_RE,A6F,2,E,RE,1,,None,2.0
172,1E_RE,B13A,1,E,RE,1,,None,1.0
173,1E_RE,B22A,2,E,RE,1,,None,2.0
174,1E_RE,B27A,1,E,RE,1,,None,1.0
175,1E_RE,B34A,2,E,RE,1,,None,2.0
176,1E_RE,B39A,2,E,RE,1,,None,2.0
232,1S_1_RE,7D4M,4,S,RE,1,1,None,4.0
233,1S_1_RE,9F3,1,S,RE,1,1,None,1.0
234,1S_1_RE,A21G,1,S,RE,1,1,None,1.0
...,...,...,...,...,...,...,...,...,...
771,6W_RE,B20A,3,W,RE,6,,None,3.0
772,6W_RE,B22A,1,W,RE,6,,None,1.0
781,7S_1_RE,9F1,4,S,RE,7,1,None,4.0
782,7S_1_RE,9F2,4,S,RE,7,1,None,4.0
783,7S_1_RE,9F3,3,S,RE,7,1,None,3.0
784,7S_1_RE,9F4,3,S,RE,7,1,None,3.0
785,7S_1_RE,9F5,2,S,RE,7,1,None,2.0
786,7S_1_RE,9F6,1,S,RE,7,1,None,1.0
800,7W_1_RE,9F9,1,W,RE,7,1,None,1.0
801,7W_RE,B17A,1,W,RE,7,,None,1.0
802,7W_RE,B26Z,1,W,RE,7,,None,1.0
819,8S_1_RE,9F1,1,S,RE,8,1,None,1.0
820,8S_1_RE,9F2,2,S,RE,8,1,None,2.0
821,8S_1_RE,9F3,1,S,RE,8,1,None,1.0
822,8S_1_RE,9F4,1,S,RE,8,1,None,1.0
823,8S_1_RE,9F5,1,S,RE,8,1,None,1.0
824,8S_1_RE,9F6,1,S,RE,8,1,None,1.0
825,8S_RE,9C4D,6,S,RE,8,,None,6.0
826,8S_RE,9F1G,1,S,RE,8,,None,1.0
827,8S_RE,9F4G,1,S,RE,8,,None,1.0
839,8W_RE,3B11A,1,W,RE,8,,None,1.0
840,8W_RE,3C10Z,1,W,RE,8,,None,1.0
841,8W_RE,A19A,1,W,RE,8,,None,1.0
842,8W_RE,B26Z,1,W,RE,8,,None,1.0
843,8W_RE,B38A,2,W,RE,8,,None,2.0
874,9S_1_RE,9F2,2,S,RE,9,1,None,2.0
875,9S_1_RE,9F3,1,S,RE,9,1,None,1.0
876,9S_RE,B29A,1,S,RE,9,,None,1.0
896,9W_RE,B16A,2,W,RE,9,,None,2.0
897,9W_RE,B27A,2,W,RE,9,,None,2.0

In [151]:
ctrac.p = pd.to_numeric(ctrac.p)
ctrac.batch = pd.to_numeric(ctrac.batch)
ctrac.swing_drop = pd.to_numeric(ctrac.swing_drop)

In [152]:
ctrac.to_excel(r"C:\Users\mkreidler\Desktop\35w\ctrac_expanded.xlsx")