In [50]:
import pandas as pd


rh = r"C:\Users\mkreidler\Desktop\35w_HighLevel\changing names\rhino.xlsx"
ct = r"C:\Users\mkreidler\Desktop\35w_HighLevel\changing names\ctrac.xlsx"


rh = pd.read_excel(rh)

ct = pd.read_excel(ct)

rh = rh.groupby("name").count().reset_index()

rh = rh[["name", "guid"]]

In [51]:
ct = ct.groupby("Block ID").count().reset_index()
ct = ct[["Block ID", "UnitQuantity"]]

In [58]:
merge = rh.merge(ct, left_on="name", right_on="Block ID", how="outer")
merge.fillna(0)


merge = merge.fillna(0)

def ternary(a, b):
    if a != 0:
        return a
    else:
        return b

merge["id"] = merge.apply(lambda x: ternary(x["name"], x["Block ID"]), axis=1 )

merge = merge[["id", "guid", "UnitQuantity"]]

merge =merge.rename(columns={"id":"name", "guid":"rhino_qty", "UnitQuantity":"ctrac_qty"})

merge["delta"] = merge.rhino_qty - merge.ctrac_qty


merge.to_excel(r"C:\Users\mkreidler\Desktop\35w_HighLevel\changing names\merge2.xlsx")

merge[merge.delta>0]

      name  rhino_qty  ctrac_qty  delta
22     3B9        1.0        0.0    1.0
25   3C10A        2.0        1.0    1.0
251    B35        4.0        3.0    1.0
285    S3-        1.0        0.0    1.0