In [57]:
import pandas as pd
import re

rh = r"C:\Users\mkreidler\Desktop\35w_HighLevel\rhino.xlsx"
ct = r"C:\Users\mkreidler\Desktop\35w_HighLevel\ctrac.xlsx"

### Both of these are filtered to be current work
### ctrac filter out: void, zextra, NIS, anything in priorities 6s_d4, P7-P13 (may miss some units in RE)
### rhino filter out: NO CO11,CO12, no faulty, no deduct, no s2, 3, 4 include RE include new
rhino = pd.read_excel(rh)
ctrac = pd.read_excel(ct)


rhino["cum_count"] = rhino.groupby("name").cumcount() + 1
rhino["cc"] = rhino.name + "#" + rhino.cum_count.map(str)



ctrac["cum_count"] = ctrac.groupby("Block ID").cumcount() + 1
ctrac["cc"] = ctrac["Block ID"] + "#" + ctrac.cum_count.map(str)

In [58]:
merge_out = rhino.merge(ctrac, on = "cc", how="outer")

merge_rh = rhino.merge(ctrac, on = "cc", how="left")

merge_ct = rhino.merge(ctrac, on = "cc", how="right")

len(merge_out)

2510

In [59]:
len(merge_rh)

2157

In [60]:
len(merge_ct)

2506

In [81]:
mo = merge_out[["name", "Block ID", "cc"]]

mo = mo.rename(columns = {"name":"rhino", "Block ID":"ctrac", "cc":"instance"})

rh = mo[mo.ctrac.isna()]

rh

      rhino ctrac instance
30      3B9   NaN    3B9#1
40    3C10A   NaN  3C10A#2
1892    B35   NaN    B35#4
2156    S3-   NaN    S3-#1

In [87]:
ct = mo[mo.rhino.isna()]
#c = list(set(ct.ctrac.tolist()))
#c = sorted(c)
#for i in c:
    #print(i)
    
len(ct)

ct.groupby("ctrac").count()

       rhino  instance
ctrac
2B1        0         1
2B10       0         1
2B2        0         1
2B4        0         1
2B5        0         1
3B1        0         1
3B11       0         2
3B11A      0         1
3B5-2      0         1
3C10       0         4
3C10Z      0         1
3C9        0         1
4B-1K      0         1
4B1B       0         5
4B1C       0         3
4B1E       0         1
4B1F       0         1
4B2A       0         1
4B2B       0         1
4B3G       0         1
6B12       0         1
6B15       0         1
6B2        0         1
6B7        0         1
6C1        0         1
6C2        0         2
6C3        0         1
6D3        0         1
8A2        0         9
8A2A       0         1
...      ...       ...
B22A       0         8
B34        0        16
B34A       0        12
B37        0         1
B38        0         2
B38A       0         1
B39A       0         1
B48        0         1
C1         0         3
C2         0         3
C3         0         2
C4         0         4
C5         0         4
C6         0         3
C7         0         1
C8         0         1
CA1        0         1
Q101       0         2
Q102A      0         1
Q103       0         5
Q103A      0         2
Q104       0         7
Q106       0         1
Q107A      0         1
Q107Z      0         2
Q108       0         9
Q109       0         4
Q110       0         3
Q111       0         2
S1         0         1

[112 rows x 2 columns]

In [78]:
rh = mo[mo.ctrac.isna()]
r = list(set(rh.rhino.tolist()))
r = sorted(r)
for i in r:
    print(i)

3B9
3C10A
B35
S3-

In [80]:
len(rh)

4