In [20]:
import pandas as pd


mc = r"C:\Users\mkreidler\Desktop\mark.xlsx"
ct = r"C:\Users\mkreidler\Desktop\ctrac.xlsx"

mark = pd.read_excel(mc)
ctrac = pd.read_excel(ct)
def clean(x):
    x = str(x).replace("-E", "-A")
    result = str(x).strip()
    return result


mark["bvtc"] = mark.bv + "-" + mark.color
mark["instance"] = mark.groupby("bvtc").cumcount()+1
ctrac["instance"] = ctrac.groupby("bvtc").cumcount()+1
mark["compare"] = mark.bvtc.apply(clean) + "[" + mark.instance.map(str) + "]"
ctrac["compare"] = ctrac.bvtc.map(str).apply(clean) + "[" + ctrac.instance.map(str) + "]"
mark.head()

       trc    bv color  floor  mark    bvtc  instance    compare
0   E-AE07   J2E     B     10  mark   J2E-B         1   J2E-B[1]
1   E-AG08   CS5     F     10  mark   CS5-F         1   CS5-F[1]
2  E-AG08b   CS3     A     10  mark   CS3-A         1   CS3-A[1]
3   E-AG09   J2E     A     10  mark   J2E-A         1   J2E-A[1]
4    N-B02  A10C     A     12  mark  A10C-A         1  A10C-A[1]

In [27]:
m = mark.merge(ctrac, on="compare", how="inner")

len(m)

2774

In [40]:
m.head()

,trc,bv,color,floor,mark,bvtc_x,instance_x,compare,bvtc_y,location,ctrac,instance_y
0,E-AE07,J2E,B,10,mark,J2E-B,1,J2E-B[1],J2E-B,SHPD,ctrac,1
1,E-AG08,CS5,F,10,mark,CS5-F,1,CS5-F[1],CS5-F,SHPD,ctrac,1
2,E-AG08b,CS3,A,10,mark,CS3-A,1,CS3-A[1],CS3-E,SHPD,ctrac,1
3,E-AG09,J2E,A,10,mark,J2E-A,1,J2E-A[1],J2E-E,SHPD,ctrac,1
4,N-B02,A10C,A,12,mark,A10C-A,1,A10C-A[1],A10C-E,SIZNG,ctrac,1

In [35]:
mout = mark.merge(ctrac, on="compare", how="outer")

not_in_ctrac = mout.loc[mout.ctrac.isna(), :]

len(not_in_ctrac)

306

In [33]:
mout.to_excel(r"C:\Users\mkreidler\Desktop\mout.xlsx")

In [36]:
len(mout)

3228

In [37]:
len(mark)

2776

In [38]:
len(ctrac)

2918

In [43]:
mleft = mark.merge(ctrac, on="compare", how="left")

mleft.head()

,trc,bv,color,floor,mark,bvtc_x,instance_x,compare,bvtc_y,location,ctrac,instance_y
0,E-AE07,J2E,B,10,mark,J2E-B,1,J2E-B[1],J2E-B,SHPD,ctrac,1.0
1,E-AG08,CS5,F,10,mark,CS5-F,1,CS5-F[1],CS5-F,SHPD,ctrac,1.0
2,E-AG08b,CS3,A,10,mark,CS3-A,1,CS3-A[1],CS3-E,SHPD,ctrac,1.0
3,E-AG09,J2E,A,10,mark,J2E-A,1,J2E-A[1],J2E-E,SHPD,ctrac,1.0
4,N-B02,A10C,A,12,mark,A10C-A,1,A10C-A[1],A10C-E,SIZNG,ctrac,1.0

In [45]:
len(mleft.loc[mleft.ctrac.isna(), :])

306