In [78]:
import uuid
import datetime
import os
import platform
import datetime
import time
import pandas as pd

def get_data(excel):
    df = pd.DataFrame.from_csv(excel)
    return df

def get_user():
    return os.getenv('username')


def get_machine():
    return platform.node()


class Common:
    def __init__(self):
        self.id = str(uuid.uuid4())
        self.created = datetime.datetime.now()
        self.user = get_user()
        self.machine = get_machine()
        

class Block(Common):
    def __init__(self,
                 ctrac_style=None, 
                 est_style=None, 
                 description=None, 
                 quantity=None, 
                 instance=None):
        super().__init__()
        self.ctrac_style = ctrac_style
        self.est_style = est_style
        self.description = description
        self.quantity = quantity
        self.instance = instance
        
    def declare_instance(self):
        print(f"Instance {self.instance} of {self.quantity}")
        
        
    
    
def main():    
    t = Block()

    t.__dict__
    
    data = r"C:\Users\mkreidler\Desktop\Moynihan PHII 3-6-17 Cornice ALT.csv"
    df = get_data(data)
    
    
    
if __name__ == "__main__":
    # main()
    pass
    

#compile and 
data = r"C:\Users\mkreidler\Desktop\Moynihan PHII 3-6-17 Cornice ALT.csv"
df = get_data(data)
#df[["Style", "Description", "Qty of Units"]].reset_index()
df.reset_index(inplace=True)
df = df[["Style", "Description", "Qty of Units"]]
df.rename(index=str, 
          columns={"Style":"est_style", 
                   "Description":"desc", 
                   "Qty of Units":"qty"}, inplace=True)


df["ctrac_style"] = ["WT2", "WT3","WT4"]

df

  est_style                desc  qty ctrac_style
0        CT         Cornice Top   58         WT2
1        CB      Cornice Bottom    2         WT3
2      CT-C  Cornice Top Corner    4         WT4

In [79]:
#select a row
df.iloc[[1]]

  est_style            desc  qty ctrac_style
1        CB  Cornice Bottom    2         WT3

In [80]:
#select like 'where' in SQL
#show me the dataframe where CN1 is in the ctrac_style column
df[df["ctrac_style"]=="CN1"]

Empty DataFrame
Columns: [est_style, desc, qty, ctrac_style]
Index: []

In [81]:
#get the sum of a column
df["qty"].sum()

64

In [82]:
df["est_style"]

0      CT
1      CB
2    CT-C
Name: est_style, dtype: object

In [83]:
df.iloc[[1]]["est_style"]

1    CB
Name: est_style, dtype: object

In [84]:
df["qty"].values.tolist()

[58, 2, 4]

In [85]:
df

  est_style                desc  qty ctrac_style
0        CT         Cornice Top   58         WT2
1        CB      Cornice Bottom    2         WT3
2      CT-C  Cornice Top Corner    4         WT4

In [86]:
blocks = []

for line in range(len(df)):
    #print(line)
    
    qty = int(df.iloc[[line]]["qty"].to_string(index=False))
    
    if qty > 0:
        
        #print("Quantity greater than zero")
        
        for i in range(qty):
            ctrac = df.iloc[[line]]["ctrac_style"].to_string(index=False)
            est = df.iloc[[line]]["est_style"].to_string(index=False)
            desc = df.iloc[[line]]["desc"].to_string(index=False)
            
    
            b = Block(ctrac_style = ctrac, 
                      est_style = est, 
                      description = desc, 
                      quantity = qty, 
                      instance=i+1)
            blocks.append(b)
        
            #print(b.__dict__)
        
#for b in blocks:
#    print(b.ctrac_style)
#    print(b.id)
#    b.declare_instance()
#    print()
           
    
dd = pd.DataFrame([vars(x) for x in blocks])
dd.head()

,created,ctrac_style,description,est_style,id,instance,machine,quantity,user
0,2018-04-30 07:50:12.074064,WT2,Cornice Top,CT,1e926836-2858-4b33-bfed-6f90a6eb3acc,1,BVTC-Render08,58,mkreidler
1,2018-04-30 07:50:12.078064,WT2,Cornice Top,CT,849551d1-ef2b-41c0-b2b3-44fafc4773ca,2,BVTC-Render08,58,mkreidler
2,2018-04-30 07:50:12.081064,WT2,Cornice Top,CT,f1812904-48be-4d70-9cb2-4e082f87972c,3,BVTC-Render08,58,mkreidler
3,2018-04-30 07:50:12.083064,WT2,Cornice Top,CT,dc75951d-eaf4-4d62-99ae-5aec8f8f29d8,4,BVTC-Render08,58,mkreidler
4,2018-04-30 07:50:12.086064,WT2,Cornice Top,CT,f3d8b865-1417-4373-b4a8-ea0a8d68837a,5,BVTC-Render08,58,mkreidler

In [87]:
dd.describe()

        instance   quantity
count  64.000000  64.000000
mean   26.937500  52.875000
std    17.961047  16.062873
min     1.000000   2.000000
25%    10.750000  58.000000
50%    26.500000  58.000000
75%    42.250000  58.000000
max    58.000000  58.000000

In [88]:
out = r"C:\Users\mkreidler\Desktop\MoynihanPhII_Survey2018-05-02.xlsx"


writer = pd.ExcelWriter(out)
dd.to_excel(writer,'Sheet1')
writer.save()