In [27]:
import pandas as pd
import numpy as np

file = r"/home/cole/Desktop/meals.xlsx"

df = pd.read_excel(file)

#df['rand'] = np.random.randint(0,len(df),size=len(df))
df["rand"] = np.random.rand(len(df),1)

df.sort_values("rand", inplace=True)

week = df.Food[0:7]
days_list = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
days = pd.Series(days_list)
df.reset_index(inplace=True)
df["days"] = days

df[["days", "Food"]].dropna()

        days                       Food
0     Monday                   Raviolis
1    Tuesday             Grilled Cheese
2  Wednesday        Chicken + Dumplings
3   Thursday                    Goulash
4     Friday                   Perogies
5   Saturday  fried egg + avocado toast
6     Sunday                        BLT

In [106]:
import calendar

c = calendar.Calendar(firstweekday=6)

cal = calendar.TextCalendar(firstweekday=6)

cal.pryear(2018)

                                  2018

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [107]:
df[df.Meal=="breakfast"]

,index,Food,Meal,difficulty,rand,days
2,8,Pancakes + bacon,breakfast,1,0.170751,Wednesday
4,27,Oatmeal + fruit,breakfast,1,0.203209,Friday
5,26,Eggs and toast,breakfast,1,0.276870,Saturday
12,12,Bagels,breakfast,1,0.471314,NaN
14,25,Cinnamon rolls + cereal,breakfast,1,0.492680,NaN
15,5,fried egg + avocado toast,breakfast,2,0.504386,NaN
22,29,"Rice, lemons, tuna, and onions",breakfast,1,0.646465,NaN
25,6,costa rican breakfast,breakfast,1,0.695499,NaN
26,7,french toast,breakfast,1,0.699328,NaN
33,28,Cinnamon raison english muffins,breakfast,1,0.828679,NaN

In [108]:
import datetime

now = datetime.datetime.now()

day_week = days_list[now.weekday()]

day_week

'Tuesday'

In [109]:
np.random.seed(19)
d = np.random.choice(days_list)
print(d)

np.random.seed(2**32-1)
j = np.random.choice(days_list)
print(j)

Saturday
Thursday