In [22]:
# 1 - Start with either packing list or blank blocks (get numbers)
# 2 - Start with Project number EVERY TIME
# 3 - Date Received EVERY TIME

import pandas as pd
import datetime

pack_list = r"C:\Users\mkreidler\Desktop\packing list.csv"

p_num = "P12-3456"
dt_rec = datetime.datetime(2018, 5, 20)

df = pd.read_csv(pack_list)

df.sort_values("Styles").reset_index(inplace=True)
df["Project Number"] = p_num
df["Datetime Received"] = dt_rec

df.head()

  Styles Project Number Datetime Received
0    BK1       P12-3456        2018-05-20
1   CS24       P12-3456        2018-05-20
2     A1       P12-3456        2018-05-20
3     A2       P12-3456        2018-05-20
4     A3       P12-3456        2018-05-20