In [17]:
import pandas as pd

client_data = r"C:\Users\mkreidler\Desktop\shell.csv"
floor_data = r"C:\Users\mkreidler\Desktop\priority.csv"

client = pd.read_csv(client_data)


client["base"] = client["Block ID"].apply(lambda x: str(x).split("-")[0])

client.head()

  Client ID  Floor Block ID  base
0    E-CN09    NaN    H1A-B   H1A
1    E-CN10    NaN    H1A-C   H1A
2    E-CN11    NaN    H1A-C   H1A
3    E-CX08    NaN   H2LA-A  H2LA
4    E-CX09    NaN    H1A-B   H1A

In [18]:
floor = pd.read_csv(floor_data)
floor.head()

   base priority
0  A10C   L 12.1
1   A16    L G.1
2  A18A    L G.1
3   A22    L 1.1
4   A39    L G.1

In [28]:
floor["floor"] = floor.priority.apply(lambda x: str(x).replace("L ", ""))
floor["floor"] = floor.floor.apply(lambda x: str(x).split(".")[0])
floor.head()

   base priority floor
0  A10C   L 12.1    12
1   A16    L G.1     G
2  A18A    L G.1     G
3   A22    L 1.1     1
4   A39    L G.1     G

In [25]:
result = client.merge(floor, on="base", how="right")
result.dropna()

len(result)

1256

In [26]:
result.to_csv(r'C:\Users\mkreidler\Desktop\result.csv')