In [4]:
import re
import os
import qrcode
import uuid


class Bumper:
    def __init__(self, _input):
        self.input = _input
        self.drop = None
        self.floor = None
        self.blocks = []
        self.instance = None
        self.description = None
        self.length = None
        self.guid = uuid.uuid4()
        
    def sort(self):
        s = self.input.split("-")
        self.drop = s[0]
        self.floor = int(s[1])
        last = "".join(s[2:])
        self.blocks = last.split("_")
        self.instance = re.findall(r"\(\w+\)", self.input)
        path = r"C:\Users\mkreidler\Desktop\download3.png"

n = Bumper("W5-3-AS2R")
n.sort()

def make_qr(text, path):
    qr = qrcode.QRCode(
    version=1,
    error_correction=qrcode.constants.ERROR_CORRECT_L,
    box_size=3,
    border=4,)
    qr.add_data(text)
    img = qr.make_image().save(path)
    return img 

q = make_qr(n.guid, r"C:\Users\mkreidler\Desktop\download4.png")

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file = r"C:\Users\mkreidler\Desktop\Chatsworth Apartments2.csv"

df = pd.DataFrame.from_csv(file)

df2 = df[['Block ID', 'Page Label', 'Count']].groupby('Block ID').sum()

r = df[df['Block ID'] == 'H4R']['Page Label'].values

set(r)

#df2['c'] = [[df2[[]],2,4]]*len(df2)
df2['x'] = df2[['Count']].apply(lambda x : x + 2)
df2

          Count   x
Block ID
A1            2   4
A2            2   4
A3            4   6
BK1          41  43
C1            4   6
C2L           2   4
C2R           2   4
G1L           6   8
G1R           6   8
H1L           4   6
H1R           7   9
H2L           1   3
H2R           2   4
H3R           3   5
H4R           9  11
H5            3   5
Q1            4   6
Q2            8  10
Q3            4   6
Q4L           1   3
Q4R           1   3
Q5L           1   3
Q6R           1   3
SF1          44  46
SF3           1   3
SF4           1   3
U1            4   6
U2            4   6
U3            4   6
U4            4   6
WT1          47  49
WT2           1   3
WT3           1   3

In [93]:
a = np.arange(15).reshape(3,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [95]:
a.shape

(3, 5)

In [96]:
a.size

15

In [99]:
b = a ** 2
b

array([[  0,   1,   4,   9,  16],
       [ 25,  36,  49,  64,  81],
       [100, 121, 144, 169, 196]])