In [43]:
import pandas as pd



def find_all(style, rnd):

    #file = r"V:\Projects\35 East Wacker\Field Work\BVTC Survey #2\35 Wacker -- Measurement DB.xlsx"
    file = r"C:\Users\mkreidler.BVTCCLOUD\Desktop\SPREADSHEET STYLE GUIDE -MAB compiled.xlsx"
    #df = pd.read_excel(file, sheet_name= "Main")
    df = pd.read_excel(file)
    cols = ["family","description", "name", "length", "height", "depth", "note","dwg"]
    
    df.length = df.length.fillna(0)
    df.height = df.height.fillna(0)
    df.depth = df.depth.fillna(0)
    
    def my_round(x, rnd=rnd):
        """Takes some floating point number
        and rounds to closest base"""
        if type(x) == str:
            return 0
        x = float(x)
        if x == 0:
            return 0
        return rnd * round(x / rnd)
    
    def clean(x):
        return x.strip()
    
    df.family = df.family.apply(clean)
    if style == "all":
        m= df
    else:
        m = df.loc[df.family == style, cols]
    m["L"] = m.length.apply(my_round)
    m["H"] = m.height.apply(my_round)
    m["D"] = m.depth.apply(my_round)
    
    m = m.sort_values(["length", "height", "depth", "name"])
    
    return m


#find_all("Ashlar", 1/8)
    

def find_match(style, rnd=1/8, L=0, H=0, D=0):
    df = find_all(style, rnd)
    if L+H+D == 0:
        return df
    def my_round(x, rnd=rnd):
        """Takes some floating point number
        and rounds to closest base"""
        return rnd * round(x / rnd)
    
    L = my_round(L, rnd)
    H = my_round(H, rnd)
    D = my_round(D, rnd)
    
    print(L,H,D)
       
    
    df = df.loc[df.L == L, :]
    df = df.loc[df.H == H, :]
    if D == 0:
        pass
    else:
        df = df.loc[df.D == D, :]
    return df[["family", "description", "name", "length", "height", "depth", "note","dwg"]]

find_match(style = "all", 
           rnd = .5,
           L = 21.75, 
           H = 11.625, 
           D = 0)

#result = find_all("band", rnd=1/8)
#result.loc[result.name == "4A11", :]

22.0 11.5 0.0

     family description  name  length  height depth note   dwg
307  ashlar      ASHLAR  A105   22.25  11.625     4  NaN  A105

In [33]:
import pandas as pd
file = r"C:\Users\mkreidler.BVTCCLOUD\Desktop\SPREADSHEET STYLE GUIDE -MAB compiled.xlsx"
df = pd.read_excel(file)

families = list(df.family.unique())

for f in families:
    print(f)

band
frieze
header
quoin
sill
column
watertable
jamb
egg and dart
dentil
pilaster
frame
ashlar
arch segment
medallion
infill

In [34]:
import pandas as pd
import numpy as np


def clean(x):
    return str(x).upper()

def get_flags(text):
    text = text.upper()
    file = r"C:\Users\mkreidler.BVTCCLOUD\Desktop\SPREADSHEET STYLE GUIDE -MAB compiled.xlsx"
    df = pd.read_excel(file)
    df.description = df.description.apply(clean)
    df["flag"] = np.where(df['description'].str.contains(text, case=False, na=False), 1, 0)

    df = df.loc[df.flag == 1, :]
    return df

get_flags("pilaster")

,name,length,height,depth,family,description,dwg,note,flag
189,7B1,10.3750,7.750,8.125,pilaster,PILASTER BASE LEFT,58,NaN,1
190,7B1,10.3750,7.750,8.125,pilaster,PILASTER BASE LEFT,58,NaN,1
191,7B2,19.2500,7.750,8.125,pilaster,PILASTER BASE LEFT,59,NaN,1
192,7B2,19.2500,7.750,8.125,pilaster,PILASTER BASE LEFT,59,NaN,1
193,7B3,10.3750,7.750,10.375,pilaster,PILASTER BASE CORNER,60,NaN,1
194,7B3,10.3750,7.750,10.375,pilaster,PILASTER BASE CORNER,60,NaN,1
195,7B4,10.0000,7.750,7.625,pilaster,PILASTER LEFT TRANSITION,7B4,NEVER MADE PART OF CO 11,1
196,7B4,10.0000,7.750,7.625,pilaster,PILASTER LEFT TRANSITION,7B4,PROFILE VARIES NEVER MADE PART OF CO 11,1
294,9G1,18.3750,12.125,4.875,pilaster,PILASTER BASE,90,NaN,1
295,9G2,16.6250,12.125,4.1875,pilaster,PILASTER,89,NaN,1
296,9G3,18.3750,12.125,4.875,pilaster,PILASTER TOP,86,NaN,1
299,9H1,23.4375,12.125,6.9375,pilaster,PILASTER BASE,91,NaN,1