In [17]:
import pandas as pd

file = r"V:\Projects\35 East Wacker\TerraCotta\_Preliminary Models\2021\35 Wacker 2020 N + E_multisheet.xlsx"

df = pd.read_excel(file, sheet_name = "Main")


points = df[["x","y"]].values

def bounding_box(points):
    """get the min/max values of a point list"""
    x_coordinates, y_coordinates = zip(*points)

    return [(min(x_coordinates), 
             min(y_coordinates)), 
            (max(x_coordinates), 
             max(y_coordinates))]
centers = dict()

for group in df.group.unique():
    """Get a unique list of groups
    take the XY coordinates of all points in group
    draw the bounding box/rectangle around min/max points
    find the center per group
    add these centers to a dictionary
    pass the dictionary back into df"""
    points = df.loc[df.group == group, ["x","y"]].values
    box = bounding_box(points)
    x1,y1 = box[0]
    x2,y2 = box[1]
    center = [(x1 + x2)/2 , (y1 + y2)/2]
    centers[group] = center

def find_center(x):
    return centers[x]

df["group_center"] = df.group.apply(find_center)

df.loc[:, ["group", "group_center"]].sort_values("group")

      group                         group_center
1756      1            [740.618802, 1401.099572]
1862      2          [1048.8244555, 1197.203042]
1848      2          [1048.8244555, 1197.203042]
1849      2          [1048.8244555, 1197.203042]
1851      2          [1048.8244555, 1197.203042]
1852      2          [1048.8244555, 1197.203042]
1855      2          [1048.8244555, 1197.203042]
1856      2          [1048.8244555, 1197.203042]
1859      2          [1048.8244555, 1197.203042]
1782      2          [1048.8244555, 1197.203042]
1857      2          [1048.8244555, 1197.203042]
1860      2          [1048.8244555, 1197.203042]
1781      2          [1048.8244555, 1197.203042]
2144      3            [1045.510861, 469.648089]
2080      3            [1045.510861, 469.648089]
2079      3            [1045.510861, 469.648089]
2078      3            [1045.510861, 469.648089]
2142      3            [1045.510861, 469.648089]
2146      3            [1045.510861, 469.648089]
2082      3            [1045.510861, 469.648089]
2081      3            [1045.510861, 469.648089]
2139      3            [1045.510861, 469.648089]
2149      3            [1045.510861, 469.648089]
2136      3            [1045.510861, 469.648089]
2241      4    [1040.194917, 125.91785999999999]
2239      4    [1040.194917, 125.91785999999999]
2238      4    [1040.194917, 125.91785999999999]
2235      4    [1040.194917, 125.91785999999999]
2335      4    [1040.194917, 125.91785999999999]
2334      4    [1040.194917, 125.91785999999999]
...     ...                                  ...
1280    937         [-1613.5883505, -1113.44419]
1282    938         [-1555.296518, -1090.264856]
1244    939          [-2227.49261, -1089.823345]
1255    940          [-2171.408802, -1115.43099]
1254    940          [-2171.408802, -1115.43099]
1253    940          [-2171.408802, -1115.43099]
1252    940          [-2171.408802, -1115.43099]
1250    940          [-2171.408802, -1115.43099]
1249    940          [-2171.408802, -1115.43099]
1251    940          [-2171.408802, -1115.43099]
1256    941           [-2112.675365, -1092.0309]
1223    942         [-2504.378814, -1089.823345]
1224    943        [-2448.295005, -1115.6517455]
1230    943        [-2448.295005, -1115.6517455]
1229    943        [-2448.295005, -1115.6517455]
1225    943        [-2448.295005, -1115.6517455]
1228    943        [-2448.295005, -1115.6517455]
1227    943        [-2448.295005, -1115.6517455]
1226    943        [-2448.295005, -1115.6517455]
1231    944           [-2389.561568, -1092.0309]
509     945           [-2211.153233, 179.594733]
1178    946  [-1646.7087095, -850.7450690000001]
1181    946  [-1646.7087095, -850.7450690000001]
1179    946  [-1646.7087095, -850.7450690000001]
1177    946  [-1646.7087095, -850.7450690000001]
1295    947  [-1380.200219, -1036.8420095000001]
1297    947  [-1380.200219, -1036.8420095000001]
506     948           [-2466.842407, 229.485491]
966     949          [-2186.423365, -673.478351]
392     950           [-2404.134526, 338.538739]

[3633 rows x 2 columns]