In [19]:
import pandas as pd

ctrac_data = r"V:\Projects\35 East Wacker\Field Work\BVTC Survey MK RK 2019-03-04\MK\35 wacker spreadsheets\35 E Wacker from ctrac.xlsx"
ctrac = pd.read_excel(ctrac_data)

ctrac.head()

,Block ID,Length,Height,Depth,Description,DrawingNumber,DraftingComments
0,9E1,0.00,0.0,0.000,NaN,35E-100,NaN
1,5A1,22.00,4.0,7.375,BELT COURSE STD,35E-37,NaN
2,5A2,18.00,4.0,7.375,SILL,35E-37-1,NaN
3,5A3,17.75,4.0,12.000,SILL,35E-37-3,NaN
4,5A4,17.50,4.0,12.000,SILL,35E-37-2,NaN

In [20]:
bid_data = r"V:\Projects\35 East Wacker\Field Work\BVTC Survey MK RK 2019-03-04\MK\35 wacker spreadsheets\Copy of 35Wacker_Bid to style2.xlsx"
bid = pd.read_excel(bid_data)

bid.head()

  STYLE  COUNT  SOUTH  WEST  EAST  SUM South Bid East Bid West Bid  Column1
0   2B1    2.0      2   0.0     0  2.0      1-2b        0      NaN      NaN
1  2B10    1.0      0   1.0     0  1.0      1-2b        0     1-1h      NaN
2  2B11    1.0      0   1.0     0  1.0      1-9a        0     1-1i      NaN
3  2B12    1.0      0   1.0     0  1.0         0        0     1-1h      NaN
4  2B13    1.0      0   1.0     0  1.0         0        0     1-1h      NaN

In [21]:
rhino_data = r"V:\Projects\35 East Wacker\Field Work\BVTC Survey MK RK 2019-03-04\MK\35 wacker spreadsheets\report 2019-02-22.xlsx"
rhino = pd.read_excel(rhino_data)

rhino.head()

,layer,name,zones,guid,x,y,z,new,co,priority_x,swing_drop,faulty,remediation,deduct,floor,elevation,project,priority_y,sort
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,7709.188631,-2.442491e-15,-1917.500451,False,NaN,NaN,S1,NaN,NaN,NaN,2,SOUTH,35 E WACKER,1,2
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,7716.379834,-2.442491e-15,-1905.275405,False,NaN,NaN,S1,NaN,NaN,NaN,2,SOUTH,35 E WACKER,1,2
2,Survey::VERIFY,AG2,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,53625bf9-2195-4cf0-b6a0-72bb778a14dc,7502.239228,0.000000e+00,695.354125,False,NaN,NaN,S1,NaN,NaN,NaN,22,SOUTH,35 E WACKER,1,2
3,Survey::VERIFY,AG3,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,15a6746c-6118-4265-a58c-b477642411e0,7481.723527,0.000000e+00,695.424013,False,NaN,NaN,S1,NaN,NaN,NaN,22,SOUTH,35 E WACKER,1,2
4,Survey::VERIFY,?,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,e7d35544-50f3-4c03-940a-649aed294712,7361.418139,0.000000e+00,452.505060,False,NaN,NaN,S1,NaN,NaN,NaN,20,SOUTH,35 E WACKER,1,2

In [22]:
survey_order_data = r"V:\Projects\35 East Wacker\Field Work\BVTC Survey MK RK 2019-03-04\MK\35 wacker spreadsheets\survey_order2.xlsx"
survey_order = pd.read_excel(survey_order_data)

survey_order.head()

                                     guid  survey_order
895  1e1e4386-9a76-4098-8f31-d57081899f30             1
901  bcb9360f-0869-4ed7-9aff-099d88f2768b             2
881  0edf2f5a-3621-4cb7-86fa-c444a952d46b             3
882  099ace80-b5c6-4548-b795-daa96b2f6606             4
904  83bd03ab-98e9-4ff8-9677-7a091522998f             5

In [23]:
combined = rhino.merge(survey_order, on="guid")
combined.head()

,layer,name,zones,guid,x,y,z,new,co,priority_x,swing_drop,faulty,remediation,deduct,floor,elevation,project,priority_y,sort,survey_order
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,7709.188631,-2.442491e-15,-1917.500451,False,NaN,NaN,S1,NaN,NaN,NaN,2,SOUTH,35 E WACKER,1,2,63
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,7716.379834,-2.442491e-15,-1905.275405,False,NaN,NaN,S1,NaN,NaN,NaN,2,SOUTH,35 E WACKER,1,2,65
2,Survey::VERIFY,AG2,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,53625bf9-2195-4cf0-b6a0-72bb778a14dc,7502.239228,0.000000e+00,695.354125,False,NaN,NaN,S1,NaN,NaN,NaN,22,SOUTH,35 E WACKER,1,2,90
3,Survey::VERIFY,AG3,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,15a6746c-6118-4265-a58c-b477642411e0,7481.723527,0.000000e+00,695.424013,False,NaN,NaN,S1,NaN,NaN,NaN,22,SOUTH,35 E WACKER,1,2,91
4,Survey::VERIFY,?,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,e7d35544-50f3-4c03-940a-649aed294712,7361.418139,0.000000e+00,452.505060,False,NaN,NaN,S1,NaN,NaN,NaN,20,SOUTH,35 E WACKER,1,2,86

In [24]:
combined["STYLE"] = combined.name
combined.merge(bid, on="STYLE")
combined.head()

,layer,name,zones,guid,x,y,z,new,co,priority_x,...,faulty,remediation,deduct,floor,elevation,project,priority_y,sort,survey_order,STYLE
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,7709.188631,-2.442491e-15,-1917.500451,False,NaN,NaN,...,NaN,NaN,NaN,2,SOUTH,35 E WACKER,1,2,63,X
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,7716.379834,-2.442491e-15,-1905.275405,False,NaN,NaN,...,NaN,NaN,NaN,2,SOUTH,35 E WACKER,1,2,65,X
2,Survey::VERIFY,AG2,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,53625bf9-2195-4cf0-b6a0-72bb778a14dc,7502.239228,0.000000e+00,695.354125,False,NaN,NaN,...,NaN,NaN,NaN,22,SOUTH,35 E WACKER,1,2,90,AG2
3,Survey::VERIFY,AG3,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,15a6746c-6118-4265-a58c-b477642411e0,7481.723527,0.000000e+00,695.424013,False,NaN,NaN,...,NaN,NaN,NaN,22,SOUTH,35 E WACKER,1,2,91,AG3
4,Survey::VERIFY,?,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,e7d35544-50f3-4c03-940a-649aed294712,7361.418139,0.000000e+00,452.505060,False,NaN,NaN,...,NaN,NaN,NaN,20,SOUTH,35 E WACKER,1,2,86,?

In [25]:
combined["Block ID"] = combined.name
combined.merge(ctrac, on="Block ID")

combined

,layer,name,zones,guid,x,y,z,new,co,priority_x,...,remediation,deduct,floor,elevation,project,priority_y,sort,survey_order,STYLE,Block ID
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,7709.188631,-2.442491e-15,-1917.500451,False,NaN,NaN,...,NaN,NaN,2,SOUTH,35 E WACKER,1,2,63,X,X
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,7716.379834,-2.442491e-15,-1905.275405,False,NaN,NaN,...,NaN,NaN,2,SOUTH,35 E WACKER,1,2,65,X,X
2,Survey::VERIFY,AG2,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,53625bf9-2195-4cf0-b6a0-72bb778a14dc,7502.239228,0.000000e+00,695.354125,False,NaN,NaN,...,NaN,NaN,22,SOUTH,35 E WACKER,1,2,90,AG2,AG2
3,Survey::VERIFY,AG3,['FLOOR 22'// 'SOUTH ELEVATION'// 'DROP S1'// ...,15a6746c-6118-4265-a58c-b477642411e0,7481.723527,0.000000e+00,695.424013,False,NaN,NaN,...,NaN,NaN,22,SOUTH,35 E WACKER,1,2,91,AG3,AG3
4,Survey::VERIFY,?,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,e7d35544-50f3-4c03-940a-649aed294712,7361.418139,0.000000e+00,452.505060,False,NaN,NaN,...,NaN,NaN,20,SOUTH,35 E WACKER,1,2,86,?,?
5,Survey::VERIFY,?,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,f8aac278-82ac-4d35-9a43-067dddb30bc0,7626.696697,0.000000e+00,431.320637,False,NaN,NaN,...,NaN,NaN,20,SOUTH,35 E WACKER,1,2,85,?,?
6,Survey::VERIFY,B17,['FLOOR 8'// 'SOUTH ELEVATION'// 'DROP S1'// '...,210ff9c0-3772-406c-b5e4-0a07e14c1b9b,7355.799005,0.000000e+00,-1079.593672,False,NaN,NaN,...,NaN,NaN,8,SOUTH,35 E WACKER,1,2,77,B17,B17
7,Survey::VERIFY,8C4,['FLOOR 8'// 'SOUTH ELEVATION'// 'DROP S1'// '...,f30211fd-94a1-4ac6-867e-4027cd607154,7351.725654,0.000000e+00,-1091.695571,False,NaN,NaN,...,NaN,NaN,8,SOUTH,35 E WACKER,1,2,76,8C4,8C4
8,Survey::VERIFY,B17,['FLOOR 8'// 'SOUTH ELEVATION'// 'DROP S1'// '...,d9dc5484-6962-49dd-8a82-43037e451d27,7357.528533,0.000000e+00,-1102.748673,False,NaN,NaN,...,NaN,NaN,8,SOUTH,35 E WACKER,1,2,75,B17,B17
9,Survey::VERIFY,B17,['FLOOR 6'// 'SOUTH ELEVATION'// 'DROP S1'// '...,b9de56dc-b443-4683-8798-a0226b954a07,7376.813089,0.000000e+00,-1290.886832,False,NaN,NaN,...,NaN,NaN,6,SOUTH,35 E WACKER,1,2,73,B17,B17
10,Survey::VERIFY,B17,['FLOOR 6'// 'SOUTH ELEVATION'// 'DROP S1'// '...,9fc68eb2-dee4-490d-a0ba-5bfe440c30ed,7356.571811,0.000000e+00,-1290.659401,False,NaN,NaN,...,NaN,NaN,6,SOUTH,35 E WACKER,1,2,74,B17,B17
11,Survey::VERIFY,?,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,4457e53f-4285-4501-b01d-afc26d6e4500,7347.523100,0.000000e+00,426.505480,False,NaN,NaN,...,NaN,NaN,20,SOUTH,35 E WACKER,1,2,84,?,?
12,Survey::VERIFY,?,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,b7610353-223a-4592-8401-bf4aace2b822,7347.691773,0.000000e+00,416.869822,False,NaN,NaN,...,NaN,NaN,20,SOUTH,35 E WACKER,1,2,83,?,?
13,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,cc90efc7-6263-4ba6-930e-ef426a98ed14,7817.918725,0.000000e+00,-1905.903931,False,NaN,NaN,...,NaN,NaN,2,SOUTH,35 E WACKER,1,2,64,X,X
14,Survey::FULL SURVEY,X,['FLOOR 3'// 'SOUTH ELEVATION'// 'DROP S1'// '...,b0aa4417-521f-4d07-b8d9-ef0caacc2dde,7515.829336,0.000000e+00,-1692.691319,False,NaN,NaN,...,NaN,NaN,3,SOUTH,35 E WACKER,1,2,66,X,X
15,Survey::FULL SURVEY,X,['FLOOR 3'// 'SOUTH ELEVATION'// 'DROP S1'// '...,fb5070a0-8ed9-4f83-941b-4361ceb31967,7430.926544,0.000000e+00,-1690.237481,False,NaN,NaN,...,NaN,NaN,3,SOUTH,35 E WACKER,1,2,68,X,X
16,Survey::FULL SURVEY,X,['FLOOR 4'// 'SOUTH ELEVATION'// 'DROP S1'// '...,f082643c-d048-4886-8892-f2b0535e294b,7462.335670,0.000000e+00,-1675.514454,False,NaN,NaN,...,NaN,NaN,4,SOUTH,35 E WACKER,1,2,69,X,X
17,Survey::FULL SURVEY,X,['FLOOR 5'// 'SOUTH ELEVATION'// 'DROP S1'// '...,cd6c2fde-745d-457b-83d5-736a2db703d1,7459.411425,0.000000e+00,-1429.151095,False,NaN,NaN,...,NaN,NaN,5,SOUTH,35 E WACKER,1,2,72,X,X
18,Survey::FULL SURVEY,X,['FLOOR 5'// 'SOUTH ELEVATION'// 'DROP S1'// '...,6158507c-f62a-498c-9472-7e6cf5604bc4,7406.408526,0.000000e+00,-1439.457214,False,NaN,NaN,...,NaN,NaN,5,SOUTH,35 E WACKER,1,2,71,X,X
19,Survey::FULL SURVEY,X,['FLOOR 13'// 'SOUTH ELEVATION'// 'DROP S1'// ...,e167acf1-0678-4eb9-a45d-5998d21b9cfe,7695.864999,0.000000e+00,-390.929153,False,NaN,NaN,...,NaN,NaN,13,SOUTH,35 E WACKER,1,2,78,X,X
20,Survey::FULL SURVEY,X,['FLOOR 15'// 'SOUTH ELEVATION'// 'DROP S1'// ...,d3c70e0f-cb75-4808-ab39-b7541913a77c,7660.527391,0.000000e+00,-134.532522,False,NaN,NaN,...,NaN,NaN,15,SOUTH,35 E WACKER,1,2,79,X,X
21,Survey::FULL SURVEY,X,['FLOOR 19'// 'SOUTH ELEVATION'// 'DROP S1'// ...,c31f7787-988f-470b-ad29-e243f20c6dec,7479.105703,0.000000e+00,268.224522,False,NaN,NaN,...,NaN,NaN,19,SOUTH,35 E WACKER,1,2,80,X,X
22,Survey::FULL SURVEY,X,['FLOOR 19'// 'SOUTH ELEVATION'// 'DROP S1'// ...,c08155a2-aea8-484b-b8b0-91719e57d07f,7598.465226,0.000000e+00,273.071609,False,NaN,NaN,...,NaN,NaN,19,SOUTH,35 E WACKER,1,2,81,X,X
23,Survey::FULL SURVEY,X,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,a463346d-e611-49f3-bbd3-e3121889538c,7448.786751,0.000000e+00,460.242610,False,NaN,NaN,...,NaN,NaN,20,SOUTH,35 E WACKER,1,2,87,X,X
24,Survey::FULL SURVEY,X,['FLOOR 20'// 'SOUTH ELEVATION'// 'DROP S1'// ...,a368571c-cfea-41fa-9b60-3ec7a9d04504,7485.139905,0.000000e+00,517.801771,False,NaN,NaN,...,NaN,NaN,20,SOUTH,35 E WACKER,1,2,88,X,X
25,Survey::FULL SURVEY,X,['FLOOR 21'// 'SOUTH ELEVATION'// 'DROP S1'// ...,de5671d2-6c6f-4112-9b8e-09fc970db8c0,7479.118447,0.000000e+00,643.601637,False,NaN,NaN,...,NaN,NaN,21,SOUTH,35 E WACKER,1,2,89,X,X
26,Survey::FULL SURVEY,X,['FLOOR 19'// 'SOUTH ELEVATION'// 'DROP S1'// ...,d0d9014d-fc20-4f38-bc41-e71f6cbfc7fd,7794.963834,1.847411e-13,279.551561,False,NaN,NaN,...,NaN,NaN,19,SOUTH,35 E WACKER,1,2,82,X,X
27,Survey::FULL SURVEY,X,['FLOOR 4'// 'SOUTH ELEVATION'// 'DROP S1'// '...,46134689-cf30-4d1e-ba01-6aed08ccb0ea,7501.966468,-4.263256e-14,-1666.416786,False,NaN,NaN,...,NaN,NaN,4,SOUTH,35 E WACKER,1,2,70,X,X
28,Survey::FULL SURVEY,X,['FLOOR 3'// 'SOUTH ELEVATION'// 'DROP S1'// '...,3b3cd324-871b-43a5-882a-6eb5dfacac7e,7379.892712,0.000000e+00,-1690.398225,False,NaN,NaN,...,NaN,NaN,3,SOUTH,35 E WACKER,1,2,67,X,X
29,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,c6711728-4457-4145-887d-e279e427ab85,1910.845628,0.000000e+00,417.218475,False,NaN,NaN,...,NaN,NaN,20,EAST,35 E WACKER,1,3,368,X,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,Survey::VERIFY,B5,['FLOOR 2'// 'WEST ELEVATION'// 'DROP W3'// 'P...,83bd03ab-98e9-4ff8-9677-7a091522998f,-895.009936,0.000000e+00,-1881.565365,False,NaN,NaN,...,NaN,NaN,2,WEST,35 E WACKER,1,1,5,B5,B5
905,Survey::VERIFY,B7,['FLOOR 2'// 'WEST ELEVATION'// 'DROP W3'// 'P...,d03a3556-3aae-4793-b511-1acd82e290e5,-958.119851,0.000000e+00,-1852.284267,False,NaN,NaN,...,NaN,NaN,2,WEST,35 E WACKER,1,1,9,B7,B7
906,Survey::VERIFY,B7,['FLOOR 2'// 'WEST ELEVATION'// 'DROP W3'// 'P...,3389b5b5-ee32-4261-9d71-784343ffcc53,-958.119851,0.000000e+00,-1864.180643,False,NaN,NaN,...,NaN,NaN,2,WEST,35 E WACKER,1,1,8,B7,B7
907,Survey::VERIFY,B7,['FLOOR 2'// 'WEST ELEVATION'// 'DROP W3'// 'P...,d09672e1-9880-4e34-8ec8-9474e7f3229d,-958.119851,0.000000e+00,-1876.262044,False,NaN,NaN,...,NaN,NaN,2,WEST,35 E WACKER,1,1,6,B7,B7
908,Survey::VERIFY,B12,['FLOOR 4'// 'WEST ELEVATION'// 'DROP W3'// 'P...,c191aaf6-4016-4f06-ba82-07132b6d298a,-942.561895,0.000000e+00,-1567.315807,False,NaN,NaN,...,NaN,NaN,4,WEST,35 E WACKER,1,1,12,B12,B12
909,Survey::VERIFY,B37,['FLOOR 9'// 'WEST ELEVATION'// 'DROP W3'// 'P...,5796ecc5-a187-422c-9082-a14154cc88a3,-690.257007,0.000000e+00,-973.371786,False,NaN,NaN,...,NaN,NaN,9,WEST,35 E WACKER,1,1,37,B37,B37
910,Survey::VERIFY,B37,['FLOOR 9'// 'WEST ELEVATION'// 'DROP W3'// 'P...,96974505-b51e-44e8-9f41-47da24960e48,-690.257007,0.000000e+00,-961.932687,False,NaN,NaN,...,NaN,NaN,9,WEST,35 E WACKER,1,1,38,B37,B37
911,Survey::VERIFY,B17A,['FLOOR 8'// 'WEST ELEVATION'// 'DROP W3'// 'P...,6390fc64-fab7-45de-8e90-8a8da7ea9735,-702.785725,0.000000e+00,-1150.654227,False,NaN,NaN,...,NaN,NaN,8,WEST,35 E WACKER,1,1,33,B17A,B17A
912,Survey::VERIFY,8C4,['FLOOR 6'// 'WEST ELEVATION'// 'DROP W3'// 'P...,22da7ec6-8fd2-4958-aaf3-d9719101dc7d,-725.775329,0.000000e+00,-1326.305518,False,NaN,NaN,...,NaN,NaN,6,WEST,35 E WACKER,1,1,28,8C4,8C4
913,Survey::VERIFY,8C4A,['FLOOR 7'// 'WEST ELEVATION'// 'DROP W3'// 'P...,0d58b83b-1ea2-4732-be49-2c0ec9f8447d,-931.969225,0.000000e+00,-1279.919265,False,NaN,NaN,...,NaN,NaN,7,WEST,35 E WACKER,1,1,30,8C4A,8C4A
914,Survey::VERIFY,8C5,['FLOOR 7'// 'WEST ELEVATION'// 'DROP W3'// 'P...,3e999948-e9e7-44d0-a0e9-821f55d910be,-915.276560,0.000000e+00,-1162.139169,False,NaN,NaN,...,NaN,NaN,7,WEST,35 E WACKER,1,1,31,8C5,8C5
915,Survey::VERIFY,B37,['FLOOR 16'// 'WEST ELEVATION'// 'DROP W3'// '...,00d1319a-8685-41f3-8165-2f9714096705,-939.120464,0.000000e+00,-36.343545,False,NaN,NaN,...,NaN,NaN,16,WEST,35 E WACKER,1,1,53,B37,B37
916,Survey::VERIFY,B25,['FLOOR 13'// 'WEST ELEVATION'// 'DROP W3'// '...,55c518cf-030c-437b-80f8-c3be0ac77b94,-823.874026,0.000000e+00,-469.386165,False,NaN,NaN,...,NaN,NaN,13,WEST,35 E WACKER,1,1,46,B25,B25
917,Survey::VERIFY,B25,['FLOOR 13'// 'WEST ELEVATION'// 'DROP W3'// '...,4e98a981-c132-4ca7-a31f-bbeeafd31d39,-823.874026,0.000000e+00,-446.161328,False,NaN,NaN,...,NaN,NaN,13,WEST,35 E WACKER,1,1,48,B25,B25
918,Survey::VERIFY,B37,['FLOOR 13'// 'WEST ELEVATION'// 'DROP W3'// '...,3d4c6def-f418-45d2-b930-73a69f7116a9,-735.188198,0.000000e+00,-434.557458,False,NaN,NaN,...,NaN,NaN,13,WEST,35 E WACKER,1,1,50,B37,B37
919,Survey::VERIFY,B37,['FLOOR 11'// 'WEST ELEVATION'// 'DROP W3'// '...,f344ae54-e556-41e4-9332-25273ee39daf,-939.062220,0.000000e+00,-703.680280,False,NaN,NaN,...,NaN,NaN,11,WEST,35 E WACKER,1,1,45,B37,B37
920,Survey::VERIFY,B37,['FLOOR 11'// 'WEST ELEVATION'// 'DROP W3'// '...,1dd92dc8-7ee0-4609-8500-689c56cae7d5,-939.551522,0.000000e+00,-715.323553,False,NaN,NaN,...,NaN,NaN,11,WEST,35 E WACKER,1,1,44,B37,B37
921,Survey::VERIFY,B37,['FLOOR 10'// 'WEST ELEVATION'// 'DROP W3'// '...,2dde52a7-4c26-4c7d-a6be-346d068d2159,-939.062220,0.000000e+00,-810.737509,False,NaN,NaN,...,NaN,NaN,10,WEST,35 E WACKER,1,1,41,B37,B37
922,Survey::VERIFY,B37,['FLOOR 10'// 'WEST ELEVATION'// 'DROP W3'// '...,ad438c72-a827-46b7-8b24-5ac7f3ab9e4e,-939.551522,0.000000e+00,-822.380782,False,NaN,NaN,...,NaN,NaN,10,WEST,35 E WACKER,1,1,39,B37,B37
923,Survey::VERIFY,Q?,['FLOOR 21'// 'WEST ELEVATION'// 'DROP W3'// '...,e369ecb3-d358-4740-85b0-fb48ec47d330,-933.612752,0.000000e+00,657.805906,False,NaN,NaN,...,NaN,NaN,21,WEST,35 E WACKER,1,1,61,Q?,Q?
924,Survey::VERIFY,W3L,['FLOOR 20'// 'WEST ELEVATION'// 'DROP W3'// '...,2f386683-71d6-425c-9237-575770c2b65c,-736.454821,0.000000e+00,417.853052,False,NaN,NaN,...,NaN,NaN,20,WEST,35 E WACKER,1,1,54,W3L,W3L
925,Survey::FULL SURVEY,X,['FLOOR 6'// 'WEST ELEVATION'// 'DROP W3'// 'P...,ac1681ed-aa94-4381-9471-1d5fd1bee8b4,-735.743149,0.000000e+00,-1368.217601,False,NaN,NaN,...,NaN,NaN,6,WEST,35 E WACKER,1,1,27,X,X
926,Survey::FULL SURVEY,X,['FLOOR 21'// 'WEST ELEVATION'// 'DROP W3'// '...,7830065b-a09d-442f-ad04-c57e478750f5,-732.498864,0.000000e+00,593.165203,False,NaN,NaN,...,NaN,NaN,21,WEST,35 E WACKER,1,1,59,X,X
927,Survey::FULL SURVEY,X,['FLOOR 21'// 'WEST ELEVATION'// 'DROP W3'// '...,ca9574bf-c5dc-4899-b52d-f7d6663d4212,-786.904171,0.000000e+00,654.729103,False,NaN,NaN,...,NaN,NaN,21,WEST,35 E WACKER,1,1,60,X,X
928,Survey::FULL SURVEY,X,['FLOOR 21'// 'WEST ELEVATION'// 'DROP W3'// '...,71646698-3b12-496a-ae61-d797215683a5,-840.354998,0.000000e+00,660.933217,False,NaN,NaN,...,NaN,NaN,21,WEST,35 E WACKER,1,1,62,X,X
929,Survey::FULL SURVEY,X,['FLOOR 21'// 'WEST ELEVATION'// 'DROP W3'// '...,c2428682-d488-4b3c-baab-8a6fe9a26c95,-827.469531,0.000000e+00,586.961089,False,NaN,NaN,...,NaN,NaN,21,WEST,35 E WACKER,1,1,58,X,X
930,Survey::FULL SURVEY,X,['FLOOR 15'// 'WEST ELEVATION'// 'DROP W3'// '...,76c69959-54f1-458f-a418-ff99d783cf52,-742.650224,0.000000e+00,-125.549689,False,NaN,NaN,...,NaN,NaN,15,WEST,35 E WACKER,1,1,51,X,X
931,Survey::FULL SURVEY,X,['FLOOR 4'// 'WEST ELEVATION'// 'DROP W3'// 'P...,0dfba28d-0705-49c8-9ba5-e298ac3383db,-748.997665,0.000000e+00,-1553.227293,False,NaN,NaN,...,NaN,NaN,4,WEST,35 E WACKER,1,1,13,X,X
932,Survey::FULL SURVEY,X,['FLOOR 2'// 'WEST ELEVATION'// 'DROP W3'// 'P...,57872c45-53da-4a9d-8804-45f3e76ab64f,-941.360899,0.000000e+00,-1832.744213,False,NaN,NaN,...,NaN,NaN,2,WEST,35 E WACKER,1,1,11,X,X
933,Survey::FULL SURVEY,X,['FLOOR 2'// 'WEST ELEVATION'// 'DROP W3'// 'P...,10130c15-6290-4fd9-a721-61c68790b2fe,-679.682299,0.000000e+00,-1840.261300,False,NaN,NaN,...,NaN,NaN,2,WEST,35 E WACKER,1,1,10,X,X

In [26]:
combined.to_excel(r"V:\Projects\35 East Wacker\Field Work\BVTC Survey MK RK 2019-03-04\MK\35 wacker spreadsheets\combined.xlsx")