In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style

style.use('ggplot')

c = [34.2, 123, 14.98, 123.34, 14]

C = np.array(c)



web_stats = {'Day' : [1,2,3,4,5,6],
             'Visitors': [43, 53,34, 45, 64, 34],
            'Bounce_Rate': [65, 72, 62, 64, 53, 66]}

df = pd.DataFrame(web_stats)

print(df)

print(df.head(2))
print(df.tail(4))

   Bounce_Rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45
4           53    5        64
5           66    6        34
   Bounce_Rate  Day  Visitors
0           65    1        43
1           72    2        53
   Bounce_Rate  Day  Visitors
2           62    3        34
3           64    4        45
4           53    5        64
5           66    6        34

In [45]:
df.set_index("Day", inplace=True)

print(df)

     Bounce_Rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45
5             53        64
6             66        34

In [46]:
print(df['Visitors'])

Day
1    43
2    53
3    34
4    45
5    64
6    34
Name: Visitors, dtype: int64

In [47]:
print(df.Visitors)

Day
1    43
2    53
3    34
4    45
5    64
6    34
Name: Visitors, dtype: int64

In [48]:
print(df[['Bounce_Rate', 'Visitors']])

     Bounce_Rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45
5             53        64
6             66        34

In [49]:
survey = pd.read_csv(r"C:\Users\mkreidler\Desktop\EstimatingCounts.csv")

In [50]:

print(survey.head())

   Area  Page Index Style  Quantity Page Label  Space  Count Label Checkmark  \
0   NaN           1   NaN       NaN      R-311    2.0    NaN   NaN   Checked
1   NaN           1   NaN       NaN      R-311    2.0    NaN   NaN   Checked
2   NaN           1   NaN       NaN      R-311    2.0    NaN   NaN   Checked
3   NaN           1   NaN       NaN      R-311    1.0    NaN   NaN   Checked
4   NaN           1   NaN       NaN      R-311    2.0    NaN   NaN   Checked

  Notes
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

In [51]:
print(sum(survey.Count))

nan

In [52]:
print(sum(survey.Count))

nan

In [53]:
sums = survey[['Style', 'Label', 'Count']].groupby(survey.Style).sum()
#df = df[np.isfinite(df['EPS'])]
sums = sums[np.isfinite(sums['Count'])]
csv = sums.dropna().to_csv(r"C:\Users\mkreidler\Desktop\sums.csv")
print(sum(sums.Count))

print(sums)

402.0
       Count
Style
AS1      2.0
AS2     10.0
AS3      6.0
CN1      2.0
CN2     19.0
CN3      8.0
CN4     84.0
CN5      1.0
CN6      4.0
CN7     25.0
CT1      2.0
CT10     1.0
CT11L    1.0
CT11R    2.0
CT12L    3.0
CT12R    4.0
CT13L    2.0
CT13R    2.0
CT14L    1.0
CT14R    1.0
CT17R    1.0
CT2      4.0
CT20L    8.0
CT20R    7.0
CT21L    7.0
CT21R   10.0
CT22L    7.0
CT22R    8.0
CT26R    1.0
CT27R    1.0
CT28    93.0
CT29     4.0
CT30L    2.0
CT30R    1.0
CT3L     2.0
CT4L     1.0
CT4R     1.0
CT6     28.0
CT7     15.0
CT8     11.0
CT9     10.0

In [54]:
qty = {"apples": [5, 6, 34],
      "bananas": [12, 34, 3]}

client = {"apples": ["bill", "mary", "sam"], 
          "bananas": ["george", "frank", 'joe']}

q = pd.DataFrame(qty)
c = pd.DataFrame(client)

result = pd.merge(q, c)

print(result)

print(q)

Empty DataFrame
Columns: [apples, bananas]
Index: []
   apples  bananas
0       5       12
1       6       34
2      34        3

In [55]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [56]:
import pint

u = pint.UnitRegistry()

person = [1,2,3,34]
reps = [22,3,5,64]
weight = [20, 40, 60, 10]

p = np.array(person)
r = np.array(reps)
w = np.array(weight)


w = w * u.pound

print(w*r)

[440 120 300 640] pound

In [57]:
print(C)

[  34.2   123.     14.98  123.34   14.  ]

In [58]:
C * 9/5+32

array([  93.56 ,  253.4  ,   58.964,  254.012,   57.2  ])