In [42]:
import pandas as pd
import re

# excel file to test
path = r"C:\Users\mkreidler\Desktop\Shell_House.xlsx"

# read excel data
df = pd.read_excel(path)

#cut down unecessary columns and rename
df = df[["Block ID", "Description", "No. of Shop Dwgs.", "Form Method", "Qty of Units"]]
df.rename(columns={"Block ID":"estimating_id", 
                   "Description":"block_description", 
                   "No. of Shop Dwgs.":"number_shops", 
                   "Form Method":"form_method", 
                   "Qty of Units":"block_quantity"}, inplace=True)
    

#return index where block description equals section totals
df.block_description.str.strip().tolist().index("Section Totals")

143

In [40]:
# show whether row contains Section Totals
totals_test = df.block_description.str.strip() != "Section Totals"

# show slice of the last 5 results from above test
totals_test[-5:]

139     True
140     True
141     True
142     True
143    False
Name: block_description, dtype: bool

In [41]:
# create a dataframe where block_description is not equal to totals
df = df[df.block_description.str.strip() != "Section Totals"]

# show the last 5 entries in df
df.tail()

,estimating_id,block_description,number_shops,form_method,block_quantity
138,WT2,Watertable,1.0,EXT,70
139,WT3,Watertable @ level 9,1.0,HP,6
140,WT3R,Watertable @ level 9,1.0,HP,4
141,WTL,Watertable,1.0,HP,1
142,WTR,Watertable,1.0,HP,1

In [5]:
import tkinter as tk
from tkinter.filedialog import askdirectory
from tkinter.filedialog import asksaveasfile
import pandas as pd   
    
dial = tk.Tk()
dial.withdraw()
target=asksaveasfile(defaultextension=".xls")

print(type(target))
print(f"Saved barcode report here: {target}")

<class '_io.TextIOWrapper'>
Saved barcode report here: <_io.TextIOWrapper name='C:/Users/mkreidler/Desktop/New pdf exports/dagasd.xls' mode='w' encoding='cp1252'>