In [15]:
import pandas as pd


rhino = r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\rhino guid and name.csv"

colors = r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\Shell Color Assignment.csv"

rh = pd.read_csv(rhino, header = None)
rh.rename(columns = {0:"name", 1:"guid"}, inplace=True)
col = pd.read_csv(colors, header=None)
col.rename(columns = {0:"name", 1:"color", 2:"drop"}, inplace=True)
col.drop("drop", 1, inplace=True)

rh.head()

              name                                  guid
0         RL78.760  ea0b50a6-aa3b-4495-939c-c3d68e2d4bb9
1    EX. TOWER TOP  1fe505fd-9e5d-4efb-bccb-f927f1501abc
2         RL72.940  77780bc8-4b13-42dc-bfe9-71a93789c533
3  EX. CLOCK TOWER  9be213b7-ad8e-47d6-bfed-b5ac2de2a551
4         RL68.110  a9cf2daf-7253-4b59-a6b8-0a3344a31b25

In [16]:
col.head()

    name color
0  W-B02     C
1  W-B48     E
2  W-B68     A
3  W-C02     B
4  W-C10     C

In [19]:
result = pd.merge(rh, col, on="name")
result.to_csv(r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\ShellMergedColors.csv")

In [20]:
(400*2)+(135*2)

1070