In [3]:
import pandas as pd
#import xlrd.open_workbook

rhino = r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\rhino guid and name.csv"

#colors = r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\Shell Color Assignment.csv"
#colors = r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\Glaze Code Spreadsheet - Updated 8.11.2018.xlsx"
colors = r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\Glaze Code Spreadsheet - deleted strikethrough.xlsx"

rh = pd.read_csv(rhino, header = None)
rh.rename(columns = {0:"name", 1:"guid"}, inplace=True)
col = pd.read_excel(colors, header=None)
col.rename(columns = {0:"ac", 1:"elev", 2:"name", 3:"color"}, inplace=True)
col.drop(["ac", "elev"], 1, inplace=True)
col.drop(col.index[:2], inplace=True)

col.head()

    name color
2  W-B02     C
3  W-B48     E
4  W-B68     A
5  W-C02     B
6  W-C10     C

In [4]:
col.head()

    name color
2  W-B02     C
3  W-B48     E
4  W-B68     A
5  W-C02     B
6  W-C10     C

In [5]:
result = pd.merge(rh, col, on="name")
result.to_csv(r"V:\Projects\Shell House Building\TerraCotta\_Preliminary_Models\Color Assignment\ShellMergedColors_updated.csv")

In [6]:
(400*2)+(135*2)

1070