In [3]:
import pandas as pd
import re

ct14 = r"C:\Users\mkreidler\Desktop\35w\14-0436.xlsx"
ct19 = r"C:\Users\mkreidler\Desktop\35w\19-9999.xlsx"


ct14 = pd.read_excel(ct14)
ct19 = pd.read_excel(ct19)

ct19.head()

,Priority,Block ID,FormingMethod,SampleName,DrawingNumber,UnitQuantity,Crate Number,Current Location,Current Shipping Sta
0,6S_D5_2,3B4X,HP,NaN,35WS-3B4X,1,0,NaN,NaN
1,6S_D5_1,4A2,HP,35BSIM,35E-23,1,0,PRESS,NaN
2,3E_1,3C10Z,EXT,NaN,35WS-3C10Z,1,0,NaN,NaN
3,3E_1,3B11A,HP,NaN,35WS-3B11A,1,0,NaN,NaN
4,9W_2,6A16A,HP,NaN,35WS-6A16A,1,0,FINIS,NaN

In [4]:
ct14.head()

,Priority,Block ID,FormingMethod,SampleName,DrawingNumber,UnitQuantity,Crate Number,Current Location,Current Shipping Sta
0,ZEXTRA,8C7,RAM,NaN,35-68-1,1,0,FINIS,NaN
1,ZEXTRA,8C7,RAM,NaN,35-68-1,1,0,FINIS,NaN
2,ZEXTRA,8C7,RAM,NaN,35-68-1,1,0,FINIS,NaN
3,ZEXTRA,8C7,RAM,NaN,35-68-1,1,0,FINIS,NaN
4,ZEXTRA,8C7,RAM,NaN,35-68-1,1,0,FINIS,NaN

In [25]:
ct14["shipped_14"] = None
ct14["crated_14"] = None


def find_shipped(x):
    if x in ["SHIPPED", "shipped"]:
        return 1
    else:
        return 0
    
def find_crated(x):
    if x in ["CRATED", "crated"]:
        return 1
    else:
        return 0

ct14.shipped_14 = ct14["Current Shipping Sta"].apply(find_shipped)
ct14.crated_14 = ct14["Current Shipping Sta"].apply(find_crated)

ct14_counts = ct14.groupby("Block ID").sum().reset_index()
ct14_counts = ct14_counts[["Block ID", "UnitQuantity", "shipped_14", "crated_14"]]
ct14_counts.rename(columns={"Block ID": "name", "UnitQuantity":"qty_14"}, inplace=True)

ct14_counts.head()

   name  qty_14  shipped_14  crated_14
0   2B1       3           1          1
1  2B10       1           1          0
2  2B11       2           1          0
3  2B12       1           1          0
4  2B13       1           1          0

In [26]:
ct19["shipped_19"] = None
ct19["crated_19"] = None


def find_shipped(x):
    if x in ["SHIPPED", "shipped"]:
        return 1
    else:
        return 0
    
def find_crated(x):
    if x in ["CRATED", "crated"]:
        return 1
    else:
        return 0

ct19.shipped_19 = ct19["Current Shipping Sta"].apply(find_shipped)
ct19.crated_19 = ct19["Current Shipping Sta"].apply(find_crated)

ct19_counts = ct19.groupby("Block ID").sum().reset_index()
ct19_counts = ct19_counts[["Block ID", "UnitQuantity", "shipped_19", "crated_19"]]
ct19_counts.rename(columns={"Block ID": "name", "UnitQuantity":"qty_19"}, inplace=True)

ct19_counts.head()

   name  qty_19  shipped_19  crated_19
0   2B1       4           0          1
1  2B10       2           0          0
2  2B11       1           0          0
3  2B12       1           0          0
4  2B13       1           0          0

In [38]:
merge = ct19_counts.merge(ct14_counts, on="name", how="outer").fillna(0)
merge["ctqty_delta19-14"] = merge.qty_19 - merge.qty_14
merge["ctship_delta19-14"] = merge.shipped_19 - merge.shipped_14
merge["ctcrated_delta19-14"] = merge.crated_19 - merge.crated_14
merge

,name,qty_19,shipped_19,crated_19,qty_14,shipped_14,crated_14,ctqty_delta19-14,ctship_delta19-14,ctcrated_delta19-14
0,2B1,4.0,0.0,1.0,3.0,1.0,1.0,1.0,-1.0,0.0
1,2B10,2.0,0.0,0.0,1.0,1.0,0.0,1.0,-1.0,0.0
2,2B11,1.0,0.0,0.0,2.0,1.0,0.0,-1.0,-1.0,0.0
3,2B12,1.0,0.0,0.0,1.0,1.0,0.0,0.0,-1.0,0.0
4,2B13,1.0,0.0,0.0,1.0,1.0,0.0,0.0,-1.0,0.0
5,2B1A,1.0,0.0,0.0,1.0,1.0,0.0,0.0,-1.0,0.0
6,2B2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,-1.0,0.0
7,2B3A,2.0,0.0,1.0,2.0,0.0,2.0,0.0,0.0,-1.0
8,2B4,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
9,2B5,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
10,2B6,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
11,2B7,2.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,-2.0
12,2B8,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1.0
13,2B9,1.0,0.0,0.0,1.0,1.0,0.0,0.0,-1.0,0.0
14,3A1,2.0,0.0,0.0,2.0,2.0,0.0,0.0,-2.0,0.0
15,3A2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
16,3A3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1.0
17,3B1,2.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
18,3B10,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1.0
19,3B11,6.0,0.0,1.0,7.0,0.0,6.0,-1.0,0.0,-5.0
20,3B11A,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
21,3B2,3.0,0.0,2.0,2.0,0.0,2.0,1.0,0.0,0.0
22,3B3,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
23,3B4,2.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-1.0
24,3B4X,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
25,3B5,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1.0
26,3B5-2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
27,3B6,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
28,3B7,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
29,3C1,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
382,Q115A,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
383,Q116,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
384,S1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
385,4B1K,0.0,0.0,0.0,2.0,0.0,0.0,-2.0,0.0,0.0
386,8A3A,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0
387,8A4A,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0
388,9C4,0.0,0.0,0.0,6.0,0.0,6.0,-6.0,0.0,-6.0
389,9F4B,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,-1.0
390,9F8,0.0,0.0,0.0,3.0,2.0,0.0,-3.0,-2.0,0.0
391,A102,0.0,0.0,0.0,4.0,0.0,0.0,-4.0,0.0,0.0
392,A6,0.0,0.0,0.0,37.0,12.0,18.0,-37.0,-12.0,-18.0
393,B102,0.0,0.0,0.0,3.0,0.0,0.0,-3.0,0.0,0.0
394,E1,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
395,H1,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
396,P2,0.0,0.0,0.0,48.0,48.0,0.0,-48.0,-48.0,0.0
397,P3,0.0,0.0,0.0,48.0,48.0,0.0,-48.0,-48.0,0.0
398,P4,0.0,0.0,0.0,48.0,48.0,0.0,-48.0,-48.0,0.0
399,PA7,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
400,Q102,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
401,Q105,0.0,0.0,0.0,7.0,0.0,0.0,-7.0,0.0,0.0
402,Q107,0.0,0.0,0.0,2.0,0.0,0.0,-2.0,0.0,0.0
403,Q112,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
404,Q113,0.0,0.0,0.0,2.0,0.0,0.0,-2.0,0.0,0.0
405,Q115,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
406,Q117,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
407,RC2,0.0,0.0,0.0,103.0,96.0,0.0,-103.0,-96.0,0.0
408,RC3,0.0,0.0,0.0,103.0,96.0,0.0,-103.0,-96.0,0.0
409,RC4,0.0,0.0,0.0,103.0,96.0,0.0,-103.0,-96.0,0.0
410,S2,0.0,0.0,0.0,3.0,0.0,0.0,-3.0,0.0,0.0
411,W1,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0