In [84]:
import pandas as pd

file = r"C:\Users\mkreidler\Desktop\test.csv"
df = pd.DataFrame.from_csv(file)

df.reset_index(inplace=True)


def format_col(col):
    """
    Formats a pandas series into numbers
    Removes dollars signs
    Removes commas
    Converts string to int
    """
    col = col.str.replace("$","")
    col = col.str.replace(",", "")
    col = pd.to_numeric(col)
    return col

def format_cols(cols, df):
    data = df
    for col in cols:
        data[col] = format_col(df[col])
    return data

def main():
    test = ["dollar", "comma"]

    data = format_cols(test, df)
    data["dollar"].sum()
    return data

d = main()

1000

In [206]:
import numpy as np
s = pd.Series(["egg", "dogg", 3,4,5], index=['a', 'b', 'c', 'd', 'e'])

(s == "egg") | (s == "dogg")

a     True
b     True
c    False
d    False
e    False
dtype: bool

In [198]:
True | False

True

In [201]:
#select a row --panda series
d.iloc[0,:]

comma     1000
dollar    1000
number    1000
Name: 0, dtype: int64

In [202]:
#select a column --panda series
d["comma"]

0    1000
1    2000
Name: comma, dtype: int64